<div class="alert">
  <div class="popup_header">
    <div class="cancel">
      <svg class="b-cancel" (click)="onNoClick()" width="40" height="40" viewBox="0 0 40 40" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <!-- <circle cx="20" cy="20" r="20" fill="#DEE5E6" /> -->
        <!-- <circle cx="20" cy="20" r="9" fill="#DEE5E6" /> -->
        <path
          d="M27 14.41L25.59 13L20 18.59L14.41 13L13 14.41L18.59 20L13 25.59L14.41 27L20 21.41L25.59 27L27 25.59L21.41 20L27 14.41Z"
          fill="black" />
      </svg>
    </div>
  </div>

  <div class="popup_detail">
    <section>
      <h4>
        {{ data.lang==='es' ? 'Conferencia' : 'Conference' }}
      </h4>
      <h3>{{ data.lang === 'es' ? data.info.title : data.info.title_en }}</h3>
      <br>
      <div class="date-contain__description">
        <p>
          <!-- {{ data.info.date | amDateFormat:'h:mm a' }} - {{ data.info.city }} -->
          {{ data.info.date | dateZone:'America/Lima':'HH:mm' }} PE |
          {{ data.info.date | dateZone:'America/New_York':'HH:mm' }} NY |
          {{ data.info.date | dateZone:'America/Santiago':'HH:mm' }} CL
        </p>
        <div class="description-expositor">
          <ul *ngIf="data.info.speakerComplete.length">
            <li class="txtExpositor">
              <p *ngIf="data.lang === 'es'"> {{ data.info.speakerComplete.length === 1 ? 'Expositor' : 'Expositores' }} :</p>
              <p *ngIf="data.lang !== 'es'"> {{ data.info.speakerComplete.length === 1 ? 'Speaker' : 'Speakers' }} :</p>
            </li>
            <li>
              <div class="description-expositor__user" *ngFor="let speaker of data.info.speakerComplete; let s=index">
                <div class="user-photo" style="background-image: url('{{url}}/{{ speaker.route }}')"></div>
                <p>{{ speaker.name }}</p>
              </div>
            </li>
          </ul>

          <ul *ngIf="data.info.moderatorComplete.length">
            <li class="txtExpositor">
              <p *ngIf="data.lang === 'es'"> {{ data.info.moderatorComplete.length === 1 ? 'Moderador' : 'Moderadores' }} :</p>
              <p *ngIf="data.lang !== 'es'"> {{ data.info.moderatorComplete.length === 1 ? 'Moderator' : 'Moderators' }} :</p>
            </li>
            <li>
              <div class="description-expositor__user"
                *ngFor="let moderator of data.info.moderatorComplete; let i=index">
                <div class="user-photo" style="background-image: url('{{url}}/{{ moderator.route }}')"></div>
                <p>{{ moderator.name }}</p>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </section>
  </div>

  <p *ngIf="data.lang === 'es'" class="info-title">Información de expositores:</p>
  <p *ngIf="data.lang !== 'es'" class="info-title">Speakers information:</p>
  <div class="speaker">
    <div class="popup_body" *ngFor="let speaker of data.info.speakerComplete; let s=index">
      <br>
      <div class="popup_body-profile__user">
        <div class="user-photo" style="background-image: url('{{url}}/{{ speaker.route }}')"></div>
        <p>{{ speaker.name }}</p>
      </div>
      <p>{{ data.lang === 'es' ? speaker.description : speaker.description_en }}</p>
    </div>
  </div>

</div>
