@font-face {
  font-family: "Cabin";
  src: url("../../../../assets/fonts/TTJenevers/Cabin-Regular.ttf");
}

@font-face {
  font-family: "TTJenevers";
  src: url("../../../../assets/fonts/TTJenevers/TTJenevers-Regular.ttf");
}
h1,
h3,
h4 {
  font-family: Cabin;
  font-weight: 700;
}
h1 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}

p {
  font-family: Cabin;
}
.alert {
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  .cancel {
    position: relative;
    .b-cancel {
      cursor: pointer;
      top: -15px;
      position: absolute;
      right: -15px;
      z-index: 1;
    }
  }

  .popup_detail {
    padding: 0px;
    margin-bottom: 0px;
    hr {
      border: 1.5px solid #becdcd;
      background: #becdcd;
      border-radius: 10px;
      margin-bottom: 20px;
      opacity: 0.2;
    }
    section {
      margin-bottom: 15px;
      h4 {
        color: #ea6752;
        margin-bottom: 10px;
      }
      h3 {
        font-size: 17px;
      }
    }
    & .date-contain__description > p {
      padding-left: 15px;
      position: relative;
      color: #54565b;
      margin-bottom: 5px;
      font-size: 15px;
      font-family: Cabin;
      &::before {
        content: "";
        background: url("../../../../assets/img/icon_clock.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 12px;
        height: 12px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
  .date-contain__description {
    position: relative;

    h3 {
      font-family: Cabin;
      margin-bottom: 10px;
    }
    .description-expositor {
      & ul {
        display: flex;
        align-items: center;
        li {
          display: flex;
          align-items: center;
          @media (max-width: 520px) {
            display: list-item;
            flex-wrap: wrap;
          }
        }
        &:nth-child(1) {
          & li {
            &:nth-child(1) {
              color: #ea6752;
            }
          }
        }
        &:nth-child(2) {
          padding: 15px 0px;
          & li {
            &:nth-child(1) {
              color: #54565a;
              p {
                padding-right: 10px;
              }
            }
          }
        }
      }
      p {
        font-size: 15px;
      }
      &__user {
        display: flex;
        padding: 0px 10px;
        cursor: pointer;
        p {
          color: #8f9c9d;
          padding-left: 7px;
        }
        .user-photo {
          width: 20px;
          height: 20px;
          background-size: cover;
          background-position: inherit;
          border-radius: 50%;
        }
      }
      .txtExpositor {
        width: 100px;
      }
    }
    .btn_schedule {
      position: absolute;
      bottom: 25px;
      right: 0;
      display: flex;
    }
  }

  .info-title {
    color: #ea6752;
    padding-right: 10px;
  }
  .speaker {
    // overflow: auto;
    // max-height: 60vh;
    .popup_body {
      &-profile__user {
        display: flex;
        padding: 0px 10px;
        cursor: pointer;
        p {
          color: black;
          padding: 10px;
          font-weight: bold;
        }
        .user-photo {
          width: 50px;
          height: 50px;
          background-size: cover;
          background-position: inherit;
          border-radius: 50%;
        }
      }

      p {
        text-align: left;
      }
    }
  }
}
