@font-face {
  font-family: "Cabin";
  src: url("../../../../assets/fonts/TTJenevers/Cabin-Regular.ttf");
}

@font-face {
  font-family: "TTJenevers";
  src: url("../../../../assets/fonts/TTJenevers/TTJenevers-Regular.ttf");
}
h1,
h3,
h4 {
  font-family: TTJenevers;
  font-weight: 700;
}
h1 {
  font-size: 20px;
  color: #ea6752;
  margin-bottom: 1%;
}
h3 {
  font-size: 18px;
}

p {
  font-family: Cabin;
}

.alert {
  width: 350px;
  @media (max-width: 425px) {
    width: 100%;
  }
}

.popup_header {
  position: relative;
  .cancel {
    position: absolute;
    right: -1vw;
    top: -2vh;
    cursor: pointer;
    @media (max-width: 768px) {
      right: -25px;
      top: -25px;
    }
  }
}

hr {
  border: 1.5px solid #becdcd;
  background: #becdcd;
  border-radius: 10px;
  margin-bottom: 20px;
  opacity: 0.2;
}

::ng-deep .instruction {
  display: flex;
  strong {
    margin-right: 2%;
  }
}

.note {
  font-family: Cabin;
}

// ::ng-deep .mat-dialog-container {
//   width: 35% !important
// }

// ::ng-deep .cdk-overlay-pane {
// width: 30vw;
// }

::ng-deep .mat-dialog-container {
  overflow-x: hidden;
}
