<div class="alert">
  <div class="popup_header">
    <div class="cancel">
      <svg class="b-cancel" (click)="onNoClick()" width="40" height="40" viewBox="0 0 40 40" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <!-- <circle cx="20" cy="20" r="20" fill="#DEE5E6" /> -->
        <!-- <circle cx="20" cy="20" r="9" fill="#DEE5E6" /> -->
        <path
          d="M27 14.41L25.59 13L20 18.59L14.41 13L13 14.41L18.59 20L13 25.59L14.41 27L20 21.41L25.59 27L27 25.59L21.41 20L27 14.41Z"
          fill="black" />
      </svg>
    </div>
  </div>

  <h1>{{data.lang === 'es' ? data.info.lbl_title : data.info.lbl_title_en}}</h1>

  <!-- <hr> -->

  <div [innerHtml]="data.lang === 'es' ? data.info.lbl_description : data.info.lbl_description_en">
  </div>
  <br>
  <span class="note">

    {{ data.lang === 'es' ? data.info.lbl_note : data.info.lbl_note_en }}
  </span>

</div>
