<div class="users">
  <button (click)="downloadReporte()">Descargar Reporte</button>
  <table class="table">
    <caption>Listado de Usuarios</caption>
    <thead>
      <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Correo</th>
        <th>Confirmación</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i=index">
        <td>{{ user.name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.sent }}</td>
      </tr>
    </tbody>
  </table>

</div>
