@import "variables";

@font-face {
  font-family: "Cabin";
  src: url("../../../../assets/fonts/TTJenevers/Cabin-Regular.ttf");
}

@font-face {
  font-family: "TTJenevers";
  src: url("../../../../assets/fonts/TTJenevers/TTJenevers-Regular.ttf");
}

.credicorpContent {
  background: #f9f9f9;
  padding: 100px 30px 64px;
  display: flex;
  @media (max-width: 768px) {
    padding: 0px;
    flex-wrap: wrap;
  }
}

.boxDescription {
  width: 60%;
  margin: 0 5%;
  @media (max-width: 768px) {
    width: 100%;
    margin: 0;
  }

  .description {
    background: #ffffff;
    border: 2px solid #f3f3f3;
    box-sizing: border-box;
    padding: 5%;
    margin-bottom: 3%;
    @media (max-width: 768px) {
      padding: 4% 9%;
      margin-bottom: 0;
      border: none;
    }
    h3 {
      font-family: TT Jenevers;
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 30px;
      color: #2b2d31;
      @media (max-width: 768px) {
        font-size: 23px;
      }
    }
    hr {
      width: 80px;
      border: 2px solid #ea6752;
      background: #ea6752;
      margin-left: 0;
      @media (max-width: 768px) {
        width: 15%;
      }
    }
    p {
      font-family: Cabin;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      color: #2b2d31;
      margin: 15px 0;
      span {
        color: #4876ab;
      }
      &.point::before {
        content: ".";
        font-size: 50px;
        color: #4876ab;
        margin: 0% 1% 0% -20px;
      }
    }
    .more {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
      // position: relative;
      // top: 15px;
      // left: 47.5%;
      span {
        font-family: Cabin;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #8f9c9d;
      }
    }
  }
  // .awards {
  //   // height: 287px;
  // }
  .slider {
    width: 100%;
    height: 15vw;
    z-index: 0;
    display: block;
    @media (max-width: 768px) {
      display: none;
    }
  }

  .slider_responsive {
    width: 100%;
    height: 40vw;
    z-index: 0;
    display: none;
    @media (max-width: 768px) {
      display: block;
    }
  }
}

@media (max-width: 768px) {
  .point {
    padding: 0px 6%;
  }
}

.boxMore {
  width: 40%;
  margin-right: 5%;
  // background: #b33828;
  @media (max-width: 768px) {
    width: 100%;
    margin: 0;
    padding: 4% 9%;
    padding-bottom: 9%;
  }
  h3 {
    font-family: Cabin;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #2b2d31;
    margin-bottom: 5%;
    span {
      color: #ea6752;
    }
  }
  .video {
    height: 200px;
    // background: #333939;
    // opacity: 0.4;
  }
  .btnMore {
    width: 100%;
    height: 42px;
    background: #ea6752;
    border-radius: 15px;
    font-family: Cabin;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    padding: 5%;
    margin-top: 10%;
    border-style: none;
  }
}

::ng-deep{
  .owl-carousel{
    position: relative;

    .owl-nav{
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .owl-next,
      .owl-prev{
        border-radius: 50px !important;
      }
    }
  }
}

.video {
  margin-bottom: 40px ;
}