<div class="credicorpContent">

  <div class="boxDescription">

    <div *ngFor="let dt of data"  class="description">
      <h3>{{ lang === 'es' ? dt.title : dt.title_en }}</h3>
      <hr>
      <!-- <div [innerHtml]="credicorp?.description_aboutUs"></div> -->
      <p [innerHtml]=" lang === 'es' ? dt.description : dt.description_en "></p>

      <p class="more">
        <span (click)="goToPage(dt?.url)">{{ lang === 'es' ? credicorp?.lblMore_aboutUs : credicorp?.lblMore_aboutUs_en }}</span>
      </p>
    </div>


    <div class="description">
      <h3>{{ lang === 'es' ? credicorp?.title_Acknowledgments : credicorp?.title_Acknowledgments_en }}</h3>
      <hr>

      <owl-carousel-o [options]="customOptions" *ngFor="let oldEvents of nuevoArray">
        <ng-template carouselSlide  *ngFor="let slide of oldEvents.Sliders">
          <div class="slide">
            <img [src]="slide.image" alt="img 1">
          </div>
        </ng-template>
      </owl-carousel-o>

      <!-- </div> -->
      <p class="more">
        <span *ngIf="lang === 'es'"
          (click)="goToPage(credicorp?.lblMore_link_Acknowledgments)">{{credicorp?.lblMore_Acknowledgments}}</span>
        <span *ngIf="lang !== 'es'"
          (click)="goToPage(credicorp?.lblMore_link_Acknowledgments_en)">{{credicorp?.lblMore_Acknowledgments_en}}</span>
      </p>
    </div>
  </div>

  <div class="boxMore">
    <h3 *ngIf="lang === 'es'">
      Saber más de
      <span>
        Investor Conference
      </span>
    </h3>
    <h3 *ngIf="lang !== 'es'">
      Learn more about
      <span>
        Investor Conference
      </span>
    </h3>

    <ng-container *ngFor="let ext of dataExternal">
      <button *ngIf="ext.display_type_id === 1" class="btnMore" (click)="goToPage(ext.url)">
        {{ lang === 'es' ? ext.name : ext.name_en }}
        <img src="assets/icons/link.svg" alt="">
      </button>

      <div *ngIf="ext.display_type_id === 2" class="video">
        <iframe width="100%" height="100%" [src]="transform(ext.url)" title="YouTube video player"
          frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen style="background: rgba(43, 45, 49, 0.75);"></iframe>
      </div>
  
    </ng-container>


</div>
