
<carousel *ngIf="images.length"
          [interval]="myInterval"
          [(activeSlide)]="activeSlideIndex"
          [noPause]="pause"
          [images]="images"
          [objectFit]="'cover'"
          [cellWidth]="cellWidth"
          [height]="height"
          [arrowsOutside]="arrowsOutside"
          [autoplay]="autoplay"
          [dots]="dots"
          [loop]="true"
          [cellsToShow]="cellstoShow"
          [ngClass]="{'borderImg': ngClass}"
          >
  <!-- <slide *ngFor="let image of images; let i=index">
    <img [src]="image.path" alt="image slide">
  </slide> -->
</carousel>

<!-- <carousel
    [images]="images"
    [objectFit]="'cover'"
    [cellWidth]="'100%'"
    [arrowsOutside]="true"
    [autoplay]="true"
    [dots]="true"
    [loop]="true">
</carousel> -->
