<div class="alert" *ngIf="!data.calendarAutorizate">

  <div class="cancel">
    <svg class="b-cancel" (click)="onNoClick()" width="40" height="40" viewBox="0 0 40 40" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <!-- <circle cx="20" cy="20" r="20" fill="#DEE5E6" /> -->
      <!-- <circle cx="20" cy="20" r="9" fill="#DEE5E6" /> -->
      <path
        d="M27 14.41L25.59 13L20 18.59L14.41 13L13 14.41L18.59 20L13 25.59L14.41 27L20 21.41L25.59 27L27 25.59L21.41 20L27 14.41Z"
        fill="black" />
    </svg>
  </div>

  <div class="alert-text">
    <p class="text-title" *ngIf="data.title"> {{ data.title }} </p>
    <p class="text-text" *ngIf="data.text"> {{ data.text }} </p>
  </div>

  <div class="image" *ngIf="data.image">
    <img [src]="data.image" alt="">
  </div>

  <div class="alert-text">
    <p class="text-text" *ngIf="data.optionalText"> {{ data.optionalText }} </p>
  </div>

  <div class="alert-calendar" *ngIf="data.calendar && config_calendar">
    <div class="alert-text">
      <p class="text-text">
        {{ data.lang === 'es' ? config_calendar.lbl_description : config_calendar.lbl_description_en }}
      </p>
    </div>

    <div class="calendar">
      <img src="../../../../assets/img/icon_google.svg" alt="">
      <div class="calendar-description">
        <h3>
          {{ data.lang === 'es' ? config_calendar.lbl_google : config_calendar.lbl_google_en }}
        </h3>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Senectus arcu tortor nec lectus aliquam</p> -->
      </div>

      <p class="btn-radio">
        <input type="radio" id="google_calendar" name="calendar" (click)="setCalendar('google')">
        <label for="google_calendar"></label>
      </p>
    </div>

    <div class="calendar">
      <img src="../../../../assets/img/icon_outlook.svg" alt="">
      <div class="calendar-description">
        <h3>
          {{ data.lang === 'es' ? config_calendar.lbl_outlook : config_calendar.lbl_outlook_en }}
        </h3>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Senectus arcu tortor nec lectus aliquam</p> -->
      </div>

      <p class="btn-radio">
        <input type="radio" id="outlook" name="calendar" (click)="setCalendar('office365')">
        <label for="outlook"></label>
      </p>
    </div>

    <div class="calendar">
      <img src="../../../../assets/img/icon_import.svg" alt="">
      <div class="calendar-description">
        <h3>
          {{ data.lang === 'es' ? config_calendar.lbl_import : config_calendar.lbl_import_en }}
        </h3>
        <!-- <p>Descargar para agendar</p> -->
      </div>

      <p class="btn-radio">
        <input type="radio" id="import" name="calendar" (click)="setCalendar('stream')">
        <label for="import"></label>
      </p>
    </div>
  </div>

  <div class="btn">
    <button class="btn-cancel m-1" (click)="onNoClick()" *ngIf="data.btnCancel"> {{ data.btnCancel }} </button>
    <button class="btn-accept m-1" (click)="onClick()" *ngIf="data.btnAccept"> {{ data.btnAccept }} </button>
  </div>

</div>
