@import "variables";

.alert {
  //   width: 550px;
  //   max-width: 550px;
  //   height: 300px;
  //   display: inline-grid;
  //   position: relative;
  .cancel {
    position: relative;
    .b-cancel {
      cursor: pointer;
      top: -30px;
      position: absolute;
      right: -30px;
      padding: 1%;
    }
  }

  .alert-text {
    font-family: Neo Sans Pro;
    font-style: normal;
    font-weight: normal;
    text-align: center;



    .text-title {
      font-weight: bold;
      font-size: 25px;
      line-height: 30px;
      color: $red1;
      margin-bottom: revert;
      @media (min-width: 768px){
        line-height: 1;
      }
    }

    .text-text {
      font-size: 18px;
      line-height: 22px;
      color: $black;
      margin-bottom: revert;
    }
  }

  .image {
    text-align: center;
    padding: 1rem;
  }

  .btn {
    text-align: center;
    padding: 0.25rem;
    //     margin-top: 25px;
    button {
      // padding: 7px 120px;
      padding: 0.5rem;
      border-radius: 15px;
      // @media screen and (max-width: 480px) {
      width: 200px;
      // }

      &.btn-accept {
        background: $red1;
        border: none;
        color: $white;
      }

      &.btn-cancel {
        color: $white;
        background: $gray;
        border: 1px solid $gray2;
      }
    }
  }
}

.alert-calendar {
  padding-top: 45px;
}
.calendar {
  display: flex;
  border: 1px solid #becdcd;
  padding: 10px 35px;
  box-sizing: border-box;
  font-family: Cabin;
  align-items: center;
  margin-bottom: 15px;
  position: relative;

  @media (max-width: 425px) {
    padding: 10px;
  }

  .btn-radio {
    position: absolute;
    right: 20px;
    top: 35px;
    display: flex;
    @media (max-width: 1440px) {
      // top: 15px;
    }
    @media (max-width: 425px) {
      right: 5px;
      top: 35px;
    }
  }
  img {
    height: fit-content;
  }
  &-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 25px 0px 40px;
    @media (max-width: 425px) {
      padding: 0px 10px;
    }
    h3 {
      font-size: 20px;
      font-weight: bold;
    }
    p {
      color: #8f9c9d;
      font-size: 14px;
      margin-top: 10px;
      @media (max-width: 425px) {
        display: none;
      }
    }
  }
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #4876ab;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #4876ab;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #4876ab;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
