@font-face {
  font-family: "Cabin";
  src: url("../../../assets/fonts/TTJenevers/Cabin-Regular.ttf");
}

@font-face {
  font-family: "TTJenevers";
  src: url("../../../assets/fonts/TTJenevers/TTJenevers-Regular.ttf");
}
p {
  font-family: Cabin;
}
.register__banner {
  img {
    width: 100%;
    height: auto;
  }

  &-no_responsive {
    display: block;
    @media (max-width: 768px) {
      display: none;
    }
  }

  &-responsive {
    display: none;
    @media (max-width: 768px) {
      display: block;
    }
  }

  // height: 350px;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // padding: 0px 180px;
  // @media(max-width:768px){
  //     padding: 0px 25px;
  // }
  // h1{
  //     font-size: 40px;
  //     color: white;
  //     width: 280px;
  //     font-weight: 800;
  //     line-height: 1.3;
  //     position: relative;
  //     hr{
  //         margin: 10px 0px;
  //     }
  //     span{
  //         width: 12px;
  //         height: 12px;
  //         border-radius: 50px;
  //         background: #EA6752;
  //         position: absolute;
  //         right: -35px;
  //         bottom: 34px;
  //     }
  // }
  // p{
  //     font-size: 25px;
  //     color: white;
  // }
  // p:nth-child(3){
  //     font-family: TTJenevers !important;
  //     margin-top: 5px;
  // }
}

.container-register {
  background: #f9f9f9;
  background-image: url("../../../assets/img/effect_register.png");
  padding: 40px 180px 235px 180px;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 40%;
  @media (max-width: 768px) {
    padding: 40px 25px 40px 25px;
    background-size: 50%;
  }
  .register__form {
    input {
      width: 100%;
      background: #ffffff;
      border: 1px solid #becdcd;
      padding: 10px 20px;
      box-sizing: border-box;
    }

    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .input-group {
        width: 49%;
        margin-bottom: 20px;
        @media (max-width: 768px) {
          width: 100%;
        }
        input {
          outline: none;
          color: #8f9c9d;
        }
        label {
          position: absolute;
          top: -7px;
          left: 14px;
          background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 1) 50%,
            rgba(249, 249, 249, 1) 50%
          );
          padding: 0px 7px;
          box-sizing: border-box;
        }
      }
      .input-group:nth-child(3) {
        position: relative;
      }
      .input-group:nth-child(4) {
        width: 100%;
        text-align: center;
        margin-top: 30px;
      }
    }
  }

  .error {
    color: #ff0000;
  }

  .btn_primary {
    background: #ea6752;
    border-radius: 25px;
  }
}
