<div *ngIf="lang === 'es'" class="register__banner">
  <img class="register__banner-no_responsive" src="assets/img/register/es/banner-register.png" alt="">
  <img class="register__banner-responsive" src="assets/img/register/es/banner-register-responsive.png" alt="">
</div>

<div *ngIf="lang !== 'es'" class="register__banner">
  <img class="register__banner-no_responsive" src="assets/img/register/en/banner-register.png" alt="">
  <img class="register__banner-responsive" src="assets/img/register/en/banner-register-responsive.png" alt="">
</div>

<div *ngIf="lang === 'es'" class="container-register">
    <div class="register__title">
      <h2>Registro al evento</h2>
      <div class="separator"></div>
    </div>
    <div class="register__form" *ngIf="form">
      <form autocomplete="off" [formGroup]="formRegister" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <input type="text" formControlName="name" placeholder="Nombres">
          <span class="error"
            *ngIf="(formRegister.get('name').touched && formRegister.get('name').invalid) || (formRegister.get('name').invalid && formInvalid)">
            &nbsp; Este campo es obligatorio
          </span>
        </div>
        <div class="input-group">
          <input type="text" formControlName="last_name" placeholder="Apellidos">
          <span class="error"
            *ngIf="(formRegister.get('last_name').touched && formRegister.get('last_name').invalid) || (formRegister.get('last_name').invalid && formInvalid)">
            &nbsp; Este campo es obligatorio
          </span>
        </div>
        <div class="input-group">
          <!-- <label for="">Correo electrónico</label> -->
          <input type="email" formControlName="email" placeholder="Correo Electrónico">
          <span class="error"
            *ngIf="(formRegister.get('email').touched && formRegister.get('email').invalid) || (formRegister.get('email').invalid && formInvalid)">
            &nbsp; Este campo es obligatorio
          </span>
        </div>
        <div class="input-group">
          <button class="btn_primary">Asistiré</button>
        </div>
      </form>
    </div>
</div>

<div *ngIf="lang !== 'es'" class="container-register">
  <div class="register__title">
    <h2>Registration to the event</h2>
    <div class="separator"></div>
  </div>
  <div class="register__form" *ngIf="form">
    <form autocomplete="off" [formGroup]="formRegister" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <input type="text" formControlName="name" placeholder="Names">
        <span class="error"
          *ngIf="(formRegister.get('name').touched && formRegister.get('name').invalid) || (formRegister.get('name').invalid && formInvalid)">
          &nbsp; This field is required
        </span>
      </div>
      <div class="input-group">
        <input type="text" formControlName="last_name" placeholder="Surnames">
        <span class="error"
          *ngIf="(formRegister.get('last_name').touched && formRegister.get('last_name').invalid) || (formRegister.get('last_name').invalid && formInvalid)">
          &nbsp; This field is required
        </span>
      </div>
      <div class="input-group">
        <!-- <label for="">Correo electrónico</label> -->
        <input type="email" formControlName="email" placeholder="Email">
        <span class="error"
          *ngIf="(formRegister.get('email').touched && formRegister.get('email').invalid) || (formRegister.get('email').invalid && formInvalid)">
          &nbsp; This field is required
        </span>
      </div>
      <div class="input-group">
        <button class="btn_primary">I will attend</button>
      </div>
    </form>
  </div>
</div>

<app-footer></app-footer>
