<!--<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="slide">
      <img src="https://via.placeholder.com/600/92c952" alt="img 1">
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img src="https://via.placeholder.com/600/771796" alt="img 2">
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img src="https://via.placeholder.com/600/24f355" alt="img 3">
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img src="https://via.placeholder.com/600/d32776" alt="img 4">
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img src="https://via.placeholder.com/600/f66b97" alt="img 5">
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img src="https://via.placeholder.com/600/56a8c2" alt="img 6">
    </div>
  </ng-template>
</owl-carousel-o>

-->




<div class="credicorp">
  <div class="banner">
    <!-- TODO AGREGAR EVENTO CLICK AL BOTON  (click)="goToPage('event-live')" -->
    <div *ngIf="lang === 'es'" class="bannerText"
      style="background-image: url('assets/img/slider/banner/CuadroSlider.png'); cursor: pointer;"
      ></div>

    <div *ngIf="lang !== 'es'" class="bannerText"
      style="background-image: url('assets/img/slider/banner_en/CuadroSlider.png'); cursor: pointer;"
      ></div>
    <!-- <app-slider *ngIf="lang !== 'es'" class="slider" [myInterval]="4000" [pause]="false" [images]="slides_en"
      [autoplay]="true" [cellstoShow]='1' [height]="'100%'" [cellWidth]="'100%'" [dots]="true"
      [activeSlideIndex]="activeSlideIndex">
    </app-slider> -->
  </div>

</div>

<ul class="menuResponsive" [ngClass]="{'schedule':  pathUrl === '/schedule' && user}">
  <li *ngFor="let menu of menus; let i=index" [ngClass]="{'activeBarra': pathUrl === ('/'+menu.url) }">
    <a (click)="goToPage(menu.url)">
      {{ lang === 'es' ? menu.name : menu.name_en }}
    </a>
  </li>
</ul>


<app-slider></app-slider>