@import "variables";

.credicorp {
  padding-top: 75px;
  ul li {
    text-align: center;
    padding: 15px;
  }
}

.banner {
  width: 100%;
  height: auto;
  // background: #333939;
  background: #262842;
  display: flex;
  @media (max-width: 768px) {
    //flex-wrap: wrap;
    height: auto;
    flex-direction: column-reverse;
  }
}

.bannerText {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  width: 40%;
  font-family: TT Jenevers;
  font-style: normal;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10%;
  @media (max-width: 768px) {
    width: 100%;
    justify-content: end;
    height: 165px;
  }
  h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 51px;
    @media (max-width: 768px) {
      font-size: 28px;
      line-height: 32px;
    }
    &.point::after {
      content: ".";
      font-size: 3rem;
      color: #ea6752;
      margin-left: 1%;
    }
  }

  span {
    font-family: Cabin;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    @media (max-width: 768px) {
      font-size: 26px;
    }
  }

  p {
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    @media (max-width: 768px) {
      font-size: 26px;
    }
  }

  button {
    height: 40px;
    width: 200px;
    border-radius: 15px;
    background: $red1;
    color: #ffffff;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.3px;
    margin-top: 5%;
    box-shadow: none;
    text-transform: uppercase;
    border-style: none;
    img {
      padding-left: 12px;
    }
  }
}

hr {
  width: 288px;
  border: 1px solid #ffffff;
  margin-inline-start: initial;
  @media (max-width: 768px) {
    width: 80%;
  }
}

.carousel {
  height: 170px;
}

.slider {
  width: 60%;
  z-index: 0;
  // @media (max-width: 978px) {
  // height: 35vh;
  // }
  @media (max-width: 768px) {
    width: 100%;
    height: 30vh;
  }
  @media (max-width: 550px) {
    height: 17vh;
  }
  // height: 100%;
  // background: red;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
}

// .slider_responsive {
//   width: 60%;
//   z-index: 0;
//   display: none;
//   @media (max-width: 768px) {
//     width: 100%;
//     height: fit-content;
//     display: block;
//     .carousel {
//       height: 180px !important;
//     }
//   }
//   // height: 100%;
//   // background: red;
//   // background-repeat: no-repeat;
//   // background-size: cover;
//   // background-position: center;
// }

.menuResponsive {
  display: none;
  @media (max-width: 978px) {
    display: block;
    background: #ffffff;
  }
  li {
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    color: #808387;
    padding-right: 20px;
    padding-top: 0px;
  }
  .activeBarra {
    border: 2px solid #ea6752;
    a {
      color: #ea6752;
    }
  }
}
// .schedule {
//   padding-top: 80px;
// }
