header{
  background: #333939;
  padding: 15px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 4;
  p{
    line-height: 1 !important;
  }
.header__logo{
    width: 17%;

  img {
    cursor: pointer;
    width: 100%;
  }
}
.header__search {
  width: 50%;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    background: url("../../../../assets/img/icon_search.svg");
    margin: auto;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
  }
  input {
    width: 100%;
    background: #becdcd42;
    border: none;
    outline: none;
    padding: 7px 35px;
    color: #8f9c9d;
    box-sizing: border-box;
  }
}
.header__action {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .header__action-notification {
    width: 13%;
    display: flex;
    position: relative;
    justify-content: center;
    img {
      height: 32px;
    }
    .notification-count {
      position: absolute;
      top: -4px;
      right: -1px;
      background: #ea6752;
      width: 20px;
      height: 20px;
      color: white;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      font-size: 8px;
      border: 2px solid white;
    }
  }
  .header__action-country {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      cursor: pointer;
    }
    img.active {
      background: #becdcd42;
      padding: 5px 5px;
      border-radius: 5px;
    }
  }
  .header__action-user {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .user__info {
      display: flex;
      &-name {
        padding-left: 10px;
      }
    }
    p {
      font-size: 14px;
      &:nth-child(1) {
        color: #ffffff;
      }
      &:nth-child(2) {
        color: #becdcd;
      }
    }

    img {
      height: 32px;
    }
  }
}
}
