<header>
  <div class="header__logo">
      <img src="../../../assets/img/logo_blanco.svg" alt="" (click)="goToPage('/')">
  </div>
  <div class="header__search" *ngIf="config_navbar">
      <input type="text"
      placeholder="{{ lang === 'es' ? config_navbar.search_placeholder : config_navbar.search_placeholder_en }}">
  </div>
  <div class="header__action">
      <div class="header__action-notification" *ngIf="user">
          <img src="../../../assets/img/icon_campaign.svg" alt="">
          <label for="" class="notification-count">5</label>
      </div>
      <div class="header__action-country">
          <img src="../../../assets/img/icon_spanish.svg" (click)="switchLang('es')" [ngClass]="{active: lang==='es'}" alt="spanish">
          <img src="../../../assets/img/icon_english.svg" (click)="switchLang('en')" [ngClass]="{active: lang==='en'}" alt="english">
      </div>
      <div class="header__action-user" *ngIf="user">

          <div class="user__info">
              <img src="../../../assets/img/icon_user.svg" alt="">
              <div class="user__info-name">
                  <p>{{ user.name }} {{ user.last_name }}</p>
                  <p>{{ user.company }}</p>
              </div>

          </div>
          <img src="../../../assets/img/icon_down.svg" alt="">
      </div>
  </div>
</header>
