$red1: #EA6752;
$red2: #F39780;
$red3: #B33828;

$main1: #54565B;
$main2: #808387;
$main3: #2B2D31;

$gray1: #8F9C9D;
$gray2: #BECDCD;
$gray3: #333939;
$gray4: #DEE5E6;

$blue1: #26334A;
$blue2: #515C75;
$blue3: #141C2E;

$sky1: #7AA2D6;
$sky2: #AED1F0;
$sky3: #4876AB;

$vine1: #402020;
$vine2: #6C4948;
$vine3: #361E24;

$background-general: #F9F9F9;
$white: #fff;
$bone: #F9F9F9;
$black: #000;

$green1: #B0F2AE;
$green2: #024A00;
$green3: #8DC640;

