/* UI KIT */
$red: #ff0000;
$red1: #EA6752;
$red3: #B33828;

$gray-dark: #333333;
$gray-light: #f0f0f0;
$gray: #dad9d9;
$gray1: #8F9C9D;
$gray2: #BECDCD;
$gray3: #333939;
$gray4: #DEE5E6;
$gray5: #c4c4c4;

$white: #ffffff;
$black: #000000;
$black-live: #1B1B1B;


$green1: #B0F2AE;
$green2: #024A00;
$green3: #8DC640;
$green4: #667F81;
$green5: #5F7375;
$green6: #4C5C5E;

$sky1: #7AA2D6;
$sky2: #AED1F0;
$sky3: #4876AB;
