@import "variables";

footer {
  font-family: "Cabin";
  // background-color: #8f9c9d;
  a {
    cursor: pointer;
    // color: #4876ab;
    text-decoration: none;
  }
  .container-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    // padding: 50px 116px 30px 116px;
    padding: 30px 116px;
    @media (max-width: 768px) {
      flex-direction: column;
      padding: 25px 30px;
    }
    .footer__description {
      width: 45%;
      font-size: 15px;
      padding-right: 15px;
      @media (max-width: 768px) {
        width: 100%;
        font-size: 14px;
        padding-right: 0px;
      }
      img {
        @media (max-width: 768px) {
          width: 46%;
          margin-bottom: 15px;
        }
      }
    }
    .footer__navigation {
      width: 35%;
      font-size: 15px;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media (max-width: 768px) {
        width: 100%;
        padding: 15px 0px;
      }
      a {
        cursor: pointer;
        color: #2b2d31;
      }
      .navigation-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding-left: 15px;
        border-left: 1px solid #aed1f0;
        @media (max-width: 768px) {
          padding-left: 0px;
          border-left: 0px;
        }
        p {
          padding: 3px 0px;
        }
      }
    }
    .footer__social {
      width: 20%;
      font-size: 15px;
      color: #2b2d31;
      font-weight: bold;
      padding-top: 2rem;
      @media (max-width: 768px) {
        width: 100%;
      }
      p {
        padding-bottom: 10px;
      }
      a {
        padding-right: 10px;
      }
    }
  }

  .boxFooter {
    padding: 2%;
    hr {
      border: 2px solid #ea6752;
      background: #ea6752;
    }
    .boxInfoFooter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 5%;
      @media (max-width: 550px) {
        flex-wrap: wrap;
        margin: 5%;
      }
      .imgFooter {
        height: 67px;
        @media (max-width: 940px) {
          height: 57px;
          margin-right: 15px;
        }
        @media (max-width: 550px) {
          display: none;
        }
      }
      .imgFooterResponsive {
        display: none;
        @media (max-width: 550px) {
          display: block;
          width: 70%;
        }
      }
      .infoFooter {
        display: flex;
        width: 70%;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        @media (max-width: 550px) {
          width: 100%;
          flex-direction: column;
          align-items: flex-start;
          margin-top: 5%;
        }
        .icon {
          display: flex;
          align-items: center;
          svg {
            margin: 5px;
            @media (max-width: 550px) {
              margin: 0 5px 0 0;
            }
          }
        }
      }
    }
    .socialFooter {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: wrap;
      p {
        display: none;
      }
      @media (max-width: 550px) {
        justify-content: flex-start;
        margin: 0 5%;
      }
      .iconSocialFooter {
        width: 13.2rem;
        display: flex;
        justify-content: space-between;
        @media (max-width: 550px) {
          margin: 0%;
        }
        svg {
          // margin: 5px;
          @media (max-width: 550px) {
            // margin: 5px 5px 5px 0px;
          }
        }
      }
    }
  }
  .container-copy {
    background: #93999a;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    @media (max-width: 768px) {
      font-size: 9px;
    }
  }
}
