<footer *ngIf="footer" [ngClass]="{'footerColor': backgroundColor}">
  <div class="boxFooter">
    <hr>

    <div class="boxInfoFooter" [ngSwitch]="lang">
      <img class="imgFooter" [src]="logoFooter" alt="">
      <img class="imgFooterResponsive" [src]="logoFooterResponsive" alt="" >

        <div class="infoFooter"  *ngSwitchCase="'es'">
          <p *ngFor="let data of data_es">
            <a (click)="gotoPage(data.link)">
              {{data.offices}}
            </a>
          </p>
        </div>


        <div class="infoFooter" *ngSwitchDefault>
          <p *ngFor="let data of data_en">
            <a (click)="gotoPage(data.link)">
              {{data.offices}}
            </a>
          </p>
        </div>

        <!--
      <div class="infoFooter" >

        <p *ngFor="let data of footer">
          <a (click)="gotoPage(footer.offices_url)">
            {{data.offices}}
          </a>
        </p>

        <p>
          <a (click)="gotoPage(footer.offices_url)">
            {{ lang === 'es' ? footer.offices : footer.offices_en }}
          </a>
        </p>

        <p>
          <a (click)="gotoPage(footer.press_url)">
            {{ lang === 'es' ? footer.press : footer.press_en }}
          </a>
        </p>
        <p>
          <a (click)="gotoPage(footer.info_transparency_url)">
            {{ lang === 'es' ? footer.info_transparency : footer.info_transparency_en }}
          </a>
        </p>

        <p class="icon">
          <svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.98 0H1.64C0.739999 0 0 0.729999 0 1.64V12.54C0 13.44 0.729999 14.18 1.64 14.18H16.98C17.88 14.18 18.62 13.45 18.62 12.54V1.64C18.61 0.739999 17.88 0 16.98 0ZM16.75 1.09L9.34 8.5L1.87 1.09H16.75ZM1.1 12.31V1.86L6.35 7.07L1.1 12.31ZM1.87 13.08L7.12 7.83L8.96 9.66C9.17 9.87 9.52 9.87 9.73 9.66L11.53 7.86L16.76 13.09H1.87V13.08ZM17.52 12.31L12.29 7.08L17.52 1.85V12.31Z" fill="#EA6752"/>
            </svg>
          <a href="mailto:{{ footer.more_information_email }}">
            {{ footer.more_information_email }}
          </a>
        </p>
      </div> -->

    </div>

    <div class="socialFooter">
      <p>
        {{ lang === 'es' ? footer.follow_us : footer.follow_us_en }}
      </p>
      <div class="iconSocialFooter">

        <a  *ngFor="let social of data_social" [ngSwitch]="social.type_social_network_id" (click)="gotoPage(social.url)" title="{{social.name}}">
          <svg *ngSwitchCase="'1'" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="32" height="32" rx="7" fill="#EA6752" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M17.457 23V16.25H19.6429L20 13.25H17.457V11.7888C17.457 11.0163 17.4781 10.25 18.6295 10.25H19.7958V8.1051C19.7958 8.07285 18.794 8 17.7805 8C15.664 8 14.3387 9.2429 14.3387 11.5251V13.25H12V16.25H14.3387V23H17.457Z"
              fill="white" />
          </svg>

          <svg *ngSwitchCase="'2'" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="32" height="32" rx="7" fill="#EA6752"/>
            <path d="M16 7.80536C18.6771 7.80536 18.9887 7.81946 20.0368 7.86178C21.0142 7.90409 21.5382 8.07334 21.8924 8.20028C22.3598 8.38364 22.6856 8.5952 23.0397 8.94781C23.3938 9.30042 23.6062 9.62482 23.7904 10.0903C23.932 10.4429 24.0878 10.9788 24.1303 11.952C24.1728 13.0099 24.187 13.3202 24.187 15.9859C24.187 18.6516 24.1728 18.976 24.1303 20.0197C24.0878 20.9929 23.9179 21.5289 23.7904 21.8815C23.6062 22.347 23.3938 22.6855 23.0397 23.0381C22.6856 23.3907 22.3598 23.6023 21.8924 23.7856C21.5382 23.9267 21.0142 24.0818 20.0368 24.1382C18.9887 24.1805 18.6771 24.1946 16 24.1946C13.3371 24.1946 13.0113 24.1805 11.9632 24.1382C10.9858 24.0959 10.4618 23.9267 10.1077 23.7856C9.64023 23.6023 9.30028 23.3907 8.96034 23.0381C8.60623 22.6855 8.39377 22.3611 8.20963 21.8815C8.06799 21.5289 7.91218 20.9929 7.86969 20.0197C7.8272 18.9619 7.81303 18.6516 7.81303 15.9859C7.81303 13.3202 7.8272 12.9958 7.86969 11.952C7.91218 10.9788 8.08215 10.4429 8.20963 10.0903C8.39377 9.62482 8.60623 9.28632 8.96034 8.94781C9.31445 8.5952 9.64023 8.38364 10.1077 8.20028C10.4618 8.05924 10.9858 7.90409 11.9632 7.86178C13.0255 7.80536 13.3371 7.80536 16 7.80536ZM16 6C13.2805 6 12.9547 6.0141 11.8782 6.05642C10.8159 6.11283 10.0935 6.26798 9.45609 6.52186C8.80453 6.77574 8.23796 7.11424 7.68555 7.67842C7.13314 8.22849 6.7932 8.79266 6.52408 9.45557C6.28328 10.0903 6.11332 10.8096 6.05666 11.8815C6.01417 12.9535 6 13.292 6 16C6 18.7221 6.01417 19.0606 6.05666 20.1185C6.09915 21.1763 6.26912 21.9097 6.52408 22.5444C6.77904 23.2073 7.11898 23.7574 7.68555 24.3216C8.23796 24.8716 8.80453 25.2243 9.45609 25.4781C10.0935 25.732 10.8159 25.9013 11.8782 25.9436C12.9405 25.9859 13.2805 26 16 26C18.7196 26 19.0595 25.9859 20.1218 25.9436C21.1841 25.8872 21.9065 25.732 22.5439 25.4781C23.1955 25.2243 23.762 24.8858 24.3144 24.3216C24.8669 23.7715 25.2068 23.2073 25.4759 22.5444C25.7167 21.9097 25.8867 21.1763 25.9433 20.1185C25.9858 19.0606 26 18.708 26 16C26 13.2779 25.9858 12.9393 25.9433 11.8815C25.9009 10.8237 25.7309 10.0903 25.4759 9.45557C25.221 8.79266 24.881 8.24259 24.3144 7.67842C23.762 7.12835 23.1955 6.77574 22.5439 6.52186C21.9065 6.26798 21.1841 6.09873 20.1218 6.05642C19.0595 6.0141 18.7196 6 16 6Z" fill="white"/>
            <path d="M16 10.866C13.1671 10.866 10.8725 13.165 10.8725 16C10.8725 18.835 13.1671 21.134 16 21.134C18.8329 21.134 21.1275 18.835 21.1275 16C21.1417 13.165 18.8329 10.866 16 10.866ZM16 19.3286C14.1587 19.3286 12.6714 17.8336 12.6714 16C12.6714 14.1523 14.1728 12.6714 16 12.6714C17.8414 12.6714 19.3286 14.1664 19.3286 16C19.3286 17.8336 17.8414 19.3286 16 19.3286Z" fill="white"/>
            <path d="M22.5297 10.6685C22.5297 11.3314 21.9915 11.8674 21.3258 11.8674C20.6601 11.8674 20.136 11.3314 20.136 10.6685C20.136 10.0056 20.6742 9.46967 21.3258 9.46967C22.0057 9.45557 22.5297 10.0056 22.5297 10.6685Z" fill="white"/>
          </svg>

          <svg *ngSwitchCase="'3'" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="32" height="32" rx="7" fill="#EA6752" />
            <g clip-path="url(#clip0)">
              <path
                d="M22.9963 23.0001V22.9995H23V17.4983C23 14.807 22.4207 12.7339 19.2744 12.7339C17.7619 12.7339 16.7469 13.5639 16.3325 14.3508H16.2888V12.9851H13.3057V22.9995H16.4119V18.0408C16.4119 16.7351 16.6594 15.4726 18.2763 15.4726C19.8694 15.4726 19.8932 16.9626 19.8932 18.1245V23.0001H22.9963Z"
                fill="white" />
              <path d="M8.24756 12.9856H11.3576V23H8.24756V12.9856Z" fill="white" />
              <path
                d="M9.80125 8C8.80688 8 8 8.80688 8 9.80125C8 10.7956 8.80688 11.6194 9.80125 11.6194C10.7956 11.6194 11.6025 10.7956 11.6025 9.80125C11.6019 8.80688 10.795 8 9.80125 8V8Z"
                fill="white" />
            </g>
            <defs>
              <clipPath id="clip0">
                <rect width="15" height="15" fill="white" transform="translate(8 8)" />
              </clipPath>
            </defs>
          </svg>

          <svg *ngSwitchCase="'4'" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="32" height="32" rx="7" fill="#EA6752"/>
            <path d="M16 6C10.4852 6 6 10.4711 6 16C6 21.5289 10.4711 26 16 26C21.5289 26 26 21.5289 26 16C26 10.4711 21.5148 6 16 6ZM20.3442 20.5134C20.2172 20.725 19.9915 20.8519 19.7518 20.8519C19.6389 20.8519 19.512 20.8237 19.4133 20.7532C17.622 19.7094 15.5487 19.5402 14.1241 19.5825C12.5444 19.6248 11.3879 19.9351 11.3738 19.9492C11.0071 20.048 10.6403 19.8364 10.5275 19.4697C10.4288 19.103 10.6403 18.7362 11.007 18.6234C11.0635 18.6093 12.3047 18.2708 14.0395 18.2144C15.055 18.1862 16.0423 18.2567 16.9591 18.4259C18.1157 18.6516 19.1735 19.0324 20.1044 19.5684C20.4288 19.7659 20.5416 20.189 20.3442 20.5134ZM21.6135 17.8759C21.4584 18.1298 21.1904 18.2708 20.9083 18.2708C20.7673 18.2708 20.6262 18.2285 20.4993 18.158C18.3695 16.9168 15.9154 16.7193 14.2229 16.7616C12.347 16.818 10.9788 17.1848 10.9647 17.1848C10.5275 17.2976 10.0903 17.0437 9.96333 16.6206C9.85049 16.1834 10.1044 15.7461 10.5275 15.6192C10.5839 15.6051 12.0649 15.196 14.11 15.1396C15.323 15.0973 16.4795 15.1819 17.5656 15.3935C18.9337 15.6474 20.189 16.1128 21.2891 16.7475C21.7123 16.9873 21.8392 17.481 21.6135 17.8759ZM22.4034 15.464C22.2341 15.464 22.0649 15.4217 21.9097 15.323C16.8463 12.3611 10.2877 14.1241 10.2313 14.1382C9.70945 14.2793 9.15938 13.969 9.00423 13.4471C8.86319 12.9252 9.17348 12.3752 9.69534 12.22C9.76586 12.2059 11.5853 11.7123 14.0959 11.6276C15.5769 11.5853 17.0014 11.6841 18.3413 11.9379C20.0339 12.2623 21.5712 12.8124 22.9111 13.6023C23.3907 13.8843 23.5458 14.4908 23.2638 14.9563C23.0663 15.2948 22.7419 15.464 22.4034 15.464Z" fill="white"/>
          </svg>


          <svg *ngSwitchCase="'5'" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="32" height="32" rx="7" fill="#EA6752" />
              <path
                d="M25.6544 11.4129C25.4095 10.2684 24.5396 9.42404 23.4922 9.29808C21.0121 9.00018 18.5019 8.99863 16.0032 9.00018C13.5041 8.99863 10.9934 9.00018 8.51334 9.29808C7.46663 9.42404 6.59726 10.2684 6.35241 11.4129C6.00392 13.0428 6 14.822 6 16.5001C6 18.1782 6 19.9572 6.34849 21.5868C6.59293 22.7311 7.4625 23.5755 8.50983 23.7017C10.9897 23.9998 13.5002 24.0014 15.9993 23.9998C18.4988 24.0014 21.0086 23.9998 23.4883 23.7017C24.535 23.5757 25.4052 22.7314 25.6501 21.5868C25.9988 19.957 26 18.178 26 16.5001C26 14.822 26.0029 13.0428 25.6544 11.4129ZM13.419 19.8403C13.419 17.4598 13.419 15.1041 13.419 12.7234C15.5387 13.9134 17.6443 15.0955 19.7773 16.2928C17.6509 17.4796 15.5443 18.6545 13.419 19.8403Z"
                fill="white" />
            </svg>


        </a>

      </div>
    </div>

  </div>


  <div class="container-copy">
    <p>
      {{ lang === 'es' ? footer.copyright : footer.copyright_en }}
    </p>
  </div>
</footer>
