<div class="banner">
    <div class="banner-image">

        <div *ngIf="lang === 'es'" class="bannerText"
        style="background-image: url({{slider_static_es[0]}}); cursor: pointer;"
        ></div>
  
      <div *ngIf="lang !== 'es'" class="bannerText"
        style="background-image: url({{slider_static_en[0]}}); cursor: pointer;"
        ></div>
    </div>
    <div class="banner-carousel">

    <owl-carousel-o  *ngIf="lang === 'es'" [options]="customOptions">
        <ng-template carouselSlide *ngFor="let slider of slider_es">
            <img [src]="slider.image" alt="">
            <!--<div class="slide" style="background-image: url({{slider.image}});"></div>-->
        </ng-template>
    </owl-carousel-o>

    <owl-carousel-o  *ngIf="lang !== 'es'" [options]="customOptions">
        <ng-template carouselSlide *ngFor="let slider of slider_en">
            <img [src]="slider.image" alt="">
            <!--<div class="slide" style="background-image: url({{slider.image}});"></div>-->
        </ng-template>
    </owl-carousel-o>

    </div>
</div>

<ul class="menuResponsive" [ngClass]="{'schedule':  pathUrl === '/schedule' && user}">
    <li *ngFor="let menu of menus; let i=index" [ngClass]="{'activeBarra': pathUrl === ('/'+menu.url) }">
      <a (click)="goToPage(menu.url)">
        {{ lang === 'es' ? menu.name : menu.name_en }}
      </a>
    </li>
</ul>