@import "variables";

@font-face {
  font-family: "Cabin";
  src: url("../../../assets/fonts/TTJenevers/Cabin-Regular.ttf");
}

@font-face {
  font-family: "TTJenevers";
  src: url("../../../assets/fonts/TTJenevers/TTJenevers-Regular.ttf");
}

.event-live {
  padding-top: 75px;
  display: flex;
  height: 100%;
  @media (max-width: 1110px) {
    padding-top: 110px;
  }
  @media (max-width: 768px) {
    flex-wrap: wrap;
    padding-top: 75px;
    height: fit-content;
  }
  .container-event {
    background-color: $white;
    //background-image: url("../../../assets/img/bacakgroundEventSinLogo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    // @media (max-width: 1440px) {
    //   background-position: right;
    // }
    @media (max-height: 700px) {
      background-position: top;
    }
    width: 80%;
    padding: 2% 0;
    padding-bottom: 0%;
    @media (max-width: 768px) {
      width: 100%;
    }
    .liveTitle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 5%;
      .boxtitle {
        .type {
          font-family: Cabin;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 40px;
          letter-spacing: 0.3px;
          color: $red3;
        }
        .title {
          font-family: TTJenevers;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 24px;
          color: #2b2d31;
        }
      }
    }
    .liveVideo {
      // background-image: url("../../../assets/img/bacakgroundEvent.svg");
      // background-repeat: no-repeat;
      // background-size: cover;
      // background-position: top;
      width: 100%;
      height: 100%;
      padding: 5%;
      display: flex;
      padding-top: 2%;
      // @media (max-width: 1440px) {
      //   background-position: right;
      // }
      // @media (max-height: 700px) {
      //   background-position: top;
      // }
      @media (max-width: 768px) {
        height: fit-content;
      }
      .video {
        width: 100%;
        @media (max-width: 768px) {
          height: 240px;
        }

        //   @media (max-width: 768px) {
        //     top: 5px;
        //     left: 0%;
        //     width: 100%;
        //     height: 37%;
        //     position: absolute;
        //   }
      }
      // .chat {
      // width: 30%;
      //   @media (max-width: 768px) {
      //     position: absolute;
      //     right: 0%;
      //     top: 47%;
      //     width: 100%;
      //     height: 56%;
      //   }
      // }
    }
  }

  .event {
    background: #f9f9f9;
    width: 30%;
    @media (max-width: 768px) {
      width: 100%;
      height: fit-content;
    }
    .btnSection {
      font-family: Cabin;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      height: 40px;
      width: 50%;
      letter-spacing: 0.3px;
      margin-bottom: 5%;
      box-shadow: none;
      border-style: none;
      color: $red3;
      border-bottom: 2px solid $red3;
    }
    .btnActive {
      background: $red3;
      color: $white;
    }

    .contanier-event {
      overflow: auto;
      height: 30%;
      .schedule__diary {
        font-family: Cabin;
        padding: 5%;
        h2 {
          font-size: 26px;
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          img {
            width: 25px;
            margin-right: 10px;
          }
        }
        .inputs_group {
          position: relative;
          input {
            width: 100%;
            width: 100%;
            background: #becdcd42;
            border: none;
            outline: none;
            padding: 7px 35px;
            color: #8f9c9d;
            box-sizing: border-box;
            border-radius: 15px;
          }
          &:before {
            content: "";
            position: absolute;
            left: 10px;
            top: 0;
            bottom: 0;
            width: 20px;
            height: 20px;
            background: url("../../../assets/img/icon_search.svg");
            margin: auto;
            background-size: 80%;
            background-position: center;
            background-repeat: no-repeat;
          }
        }

        .diary-content {
          margin-top: 15px;
          hr {
            border: 1px solid #becdcd;
          }
          section {
            margin-bottom: 15px;
          }
          p {
            color: #b33828;
            font-size: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            span {
              width: 8px;
              height: 8px;
              background: #b33828;
              border-radius: 10px;
              animation-name: bounce;
              animation-duration: 0.6s;
              animation-iteration-count: infinite;
              animation-direction: alternate;
            }
          }
          h4 {
            font-size: 18px;
            padding: 5px 0px;
            &:nth-child(1) {
              margin-bottom: 15px;
            }
            &:nth-child(3) {
              margin: 5px 0px 8px;
            }
          }
          h5 {
            font-size: 14px;
            color: #8f9c9d;
            margin-bottom: 12px;
          }
          .diary-content__btns {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .btn-details {
              color: #2b2d31;
              background: #dee5e6;
              border: none;
              outline: none;
              padding: 6px 0px;
              font-size: 14px;
              border-radius: 15px;
              &.w-50 {
                width: 49%;
              }
              &.w-100 {
                width: 100%;
              }
            }
            .btn-agree {
              color: #4876ab;
              background: rgba(174, 209, 240, 0.5);
              border: none;
              outline: none;
              padding: 6px 0px;
              font-size: 14px;
              &.w-50 {
                width: 49%;
              }
              &.w-100 {
                width: 100%;
              }
            }
          }
        }
      }
    }

    button.btn_detail {
      height: 40px;
      background: #dee5e6;
      border: none;
      padding: 5px 20px;
      width: 100%;
      color: #2b2d31;
      font-weight: normal;
      font-size: 15px;
      margin-top: 15px;
      margin-bottom: 7px;
      border-radius: 15px;
    }

    .schedule__date {
      padding: 5%;
      font-family: Cabin;
      // overflow: auto;
      // height: 47%;
      h2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
        img {
          @media (max-width: 768px) {
            width: 25px;
          }
        }
        span {
          width: 100%;
          font-size: 26px;
          padding-left: 15px;
          @media (max-width: 768px) {
            font-size: 20px;
          }
        }
      }
      .date-contain {
        overflow: auto;
        max-height: 350px;
        @media (max-height: 700px) {
          height: 300px;
        }
        & > h3 {
          font-size: 20px;
          margin-bottom: 15px;
        }

        section {
          h3 {
            font-size: 20px;
            @media (max-width: 768px) {
              font-size: 18px;
            }
          }
          p {
            font-size: 15px;
            color: #8f9c9d;
            padding-top: 5px;
          }
        }
      }
    }

    .liveChat {
      width: 90%;
      height: 55%;
      margin: 5%;
      display: flex;
      .chat {
        width: 100%;
        // iframe {
        //   height: 100%;
        //   width: 100%;
        //   @media (max-width: 768px) {
        //     height: 240px;
        //   }
        // }
        textarea {
          width: 100%;
          font-family: Cabin;
          font-size: 15px;
          line-height: 1.5;
        }
        span {
          font-family: Cabin;
          font-size: 15px;
          color: #ea6752;
        }
        button {
          height: 40px;
          background: #8f9c9d;
          border: none;
          padding: 5px 20px;
          width: 100%;
          color: #fff;
          font-weight: normal;
          font-size: 15px;
          margin-top: 15px;
          margin-bottom: 7px;
          border-radius: 15px;
        }
      }
    }
  }
}
