<app-menu></app-menu>

<div class="event-live">

  <div class="container-event">
    <div class="liveTitle">
      <div class="boxtitle">
        <p *ngIf="lang === 'es'" class="type">Conferencia</p>
        <p *ngIf="lang !== 'es'" class="type">Conference</p>
        <!-- <h1 class="title">Presentación Ministro de Hacienda de Chile</h1> -->
        <h1 *ngIf="lang === 'es'" class="title">{{title}}</h1>
        <h1 *ngIf="lang !== 'es'" class="title">{{title_en}}</h1>
      </div>
      <div class="time">
        <!-- <p>1d:2h 47m</p> -->
      </div>
    </div>

    <div class="liveVideo">

      <iframe *ngIf="lang === 'es' && vimeo" class="video" src="https://vimeo.com/event/1164381/embed" frameborder="0"
        allowfullscreen allow="autoplay; fullscreen"></iframe>

      <iframe *ngIf="lang !== 'es' && vimeo" class="video" src="https://vimeo.com/event/1164386/embed" frameborder="0"
        allowfullscreen allow="autoplay; fullscreen"></iframe>

      <iframe *ngIf="lang === 'es' && youtube" class="video" src="https://www.youtube-nocookie.com/embed/Cb5TOFmLJnM?rel=0&amp;autoplay=1"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
        frameborder="0" allowfullscreen></iframe>

      <iframe *ngIf="lang !== 'es' && youtube" class="video" src="https://www.youtube-nocookie.com/embed/Cb5TOFmLJnM?rel=0&amp;autoplay=1"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
        frameborder="0" allowfullscreen></iframe>

    </div>
  </div>


  <div class="event">

    <div class="schedule__date">
      <h2 *ngIf="config_agenda">
        <img src="../../../../assets/img/icon_diary.svg" alt="">
        <span *ngIf="lang === 'es'"> Próxima conferencias </span>
        <span *ngIf="lang !== 'es'"> Next conferences </span>
      </h2>
      <div class="date-contain" *ngFor="let schedule of schedules; let sche=index">
        <h3>{{ lang === 'es' ? schedule.date_string : schedule.date_string_en }}</h3>
        <!--<div class="separator"></div>-->
        <section *ngFor="let event of schedule.events; let even=index">
          <div *ngIf="(hour | amLocale:lang | amDifference: event.date :'minute') <= 0">
            <div class="date-contain__description">
              <h3>{{ lang === 'es' ? event.title : event.title_en }}</h3>
            </div>

            <p>
              {{ event.date | dateZone:'America/Lima':'HH:mm' }} PE |
              {{ event.date | dateZone:'America/New_York':'HH:mm' }} NY |
              {{ event.date | dateZone:'America/Santiago':'HH:mm' }} CL
            </p>
            <button type="button" class="btn_detail" (click)="viewDetailEvent(event.id)">
              {{ lang === 'es' ? config_agenda.btn_detail : config_agenda.btn_detail_en }}
            </button>
            <hr *ngIf="schedule.events.length !== (even+1)">
          </div>
        </section>
      </div>

    </div>

    <div class="schedule__date" [ngClass]="{'schedule__date_no-user': !user}" *ngIf="!event">
      <div class="date-contain" *ngFor="let schedule of schedules; let sche=index">
        <h3>{{ lang === 'es' ? schedule.date_string : schedule.date_string_en }}</h3>
        <div class="separator"></div>
        <section *ngFor="let event of schedule.events; let even=index">
          <p> {{ event.date | amDateFormat:'h:mm a' }} - {{ event.city | titlecase }}
            {{ lang === 'es' ? config_agenda.lbl_event : config_agenda.lbl_event_en }}
          </p>
          <div class="date-contain__description">
            <h3>{{ lang === 'es' ? event.title : event.title_en }}</h3>
          </div>

          <hr *ngIf="schedule.events.length !== (even+1)">
        </section>
      </div>

    </div>

    <div class="liveChat">
      <div class="chat">
        <!-- <iframe *ngIf="lang === 'es'" src="https://vimeo.com/live-chat/459978725/11df1db740" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe> -->
        <form autocomplete="off" [formGroup]="formQuestions" (ngSubmit)="sendQuestion()">

          <div *ngIf="lang === 'es'">
            <textarea placeholder="Escriba su pregunta aquí..." formControlName="question"></textarea>
            <span *ngIf="msj">Mensaje enviado</span>
            <br>
            <button type="button" (click)="sendQuestion()">Enviar</button>
          </div>

          <div *ngIf="lang !== 'es'">
            <textarea placeholder="Write your question here..." formControlName="question"></textarea>
            <span *ngIf="msj">Message sent</span>
            <br>
            <button type="button" (click)="sendQuestion()">Send</button>
          </div>


        </form>
        <!-- <iframe *ngIf="lang !== 'es'" src="https://vimeo.com/live-chat/459978725/11df1db740" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe> -->
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
