<table *ngIf="lang === 'es'" align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%"
  id="bodyTable">
  <tr>
    <td align="center" valign="top" id="bodyCell">
      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
        <tr>
          <td valign="top" id="templatePreheader">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
              <tbody class="mcnTextBlockOuter">
                <tr>
                  <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                    <table align="left" border="0" cellpadding="0" cellspacing="0"
                      style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                      <tbody>
                        <tr>
                          <td valign="top" class="mcnTextContent" style="padding: 0px 18px 9px; text-align: center;">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td valign="top" id="templateHeader">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock"
              style="min-width:100%;">
              <tbody class="mcnImageBlockOuter">
                <tr>
                  <td valign="top" style="padding:0px" class="mcnImageBlockInner">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0"
                      class="mcnImageContentContainer" style="min-width:100%;">
                      <tbody>
                        <tr>
                          <td class="mcnImageContent" valign="top"
                            style="padding-right: 0px; padding-left: 0px; padding-top: 0; padding-bottom: 0; text-align:center;">
                            <img align="center" alt=""
                              src="https://www.credicorpcapitalconference.com/assets/img/mails/Imagen%201.png"
                              width="600"
                              style="max-width:900px; padding-bottom: 0; display: inline !important; vertical-align: bottom;"
                              class="mcnImage">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td valign="top" id="templateBody">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock"
              style="min-width:100%;">
              <tbody class="mcnBoxedTextBlockOuter">
                <tr>
                  <td valign="top" class="mcnBoxedTextBlockInner">
                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;"
                      class="mcnBoxedTextContentContainer">
                      <tbody>
                        <tr>
                          <td style="padding-top:20px; padding-left:36px; padding-bottom:9px; padding-right:36px;">
                            <table border="0" cellspacing="0" class="mcnTextContentContainer" width="100%"
                              style="min-width:100% !important;">
                              <tbody>
                                <tr>
                                  <td valign="top" class="mcnTextContent"
                                    style="padding: 0px;color: #F2F2F2;font-family: Helvetica;font-size: 14px;font-weight: normal;line-height:18px;text-align: center;">
                                    <div style="text-align: left;"><span style="color:#53565C"><span
                                          style="font-size:16px;"><span
                                            style="font-family:arial,helvetica neue,helvetica,sans-serif;">Estimado(a)
                                            Cliente:<br>
                                            <br>
                                            Lamentamos no contar con su participación en el<strong> Investor
                                              Conference 2021</strong>.<br>
                                            <br>
                                            Si cambia de opinión podrá registrarse en cualquier momento, incluso el
                                            mismo día del evento.</span></span></span></div>

                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnButtonBlock"
              style="min-width:100%;">
              <tbody class="mcnButtonBlockOuter">
                <tr>
                  <td style="padding-top:20px; padding-right:36px; padding-bottom:20px; padding-left:36px;" valign="top"
                    align="center" class="mcnButtonBlockInner">
                    <table border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer"
                      style="border-collapse: separate !important;border-radius: 2px;background-color: #E96852;">
                      <tbody>
                        <tr>
                          <td align="center" valign="middle" class="mcnButtonContent"
                            style="font-family: Arial !important; font-size: 16px !important; padding: 18px;">
                            <a class="mcnButton " title="Iniciar registro"
                              href="https://www.credicorpcapitalconference.com/register?lang=es" target="_blank"
                              style="font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;">Iniciar
                              registro</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock"
              style="min-width:100%;">
              <tbody class="mcnBoxedTextBlockOuter">
                <tr>
                  <td valign="top" class="mcnBoxedTextBlockInner">
                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;"
                      class="mcnBoxedTextContentContainer">
                      <tbody>
                        <tr>
                          <td style="padding-top:9px; padding-left:36px; padding-bottom:15px; padding-right:36px;">
                            <table border="0" cellspacing="0" class="mcnTextContentContainer" width="100%"
                              style="min-width:100% !important;">
                              <tbody>
                                <tr>
                                  <td valign="top" class="mcnTextContent"
                                    style="padding: 0px;color: #F2F2F2;font-family: Helvetica;font-size: 14px;font-weight: normal;text-align: center;line-height:18px;">
                                    <div style="text-align: left;"><span style="color:#53565C"><span
                                          style="font-size:16px">Cordialmente,<br>
                                          <br>
                                          <strong>Credicorp Capital</strong></span></span></div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>

            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock"
              style="min-width:100%;">
              <tbody class="mcnImageBlockOuter">
                <tr>
                  <td valign="top" style="padding-top:0px" class="mcnImageBlockInner">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0"
                      class="mcnImageContentContainer" style="min-width:100%;">
                      <tbody>
                        <tr>
                          <td class="mcnImageContent" valign="top"
                            style="padding-right: 36px; padding-left:36px; padding-top: 25px; padding-bottom: 35px; ">
                            <img alt="" src="https://www.credicorpcapitalconference.com/assets/img/mails/Imagen%204.png"
                              width="370"
                              style="max-width:507px; padding-bottom: 0; display: inline !important; vertical-align: bottom;"
                              class="mcnImage">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>

            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock"
              style="min-width:100%;">
              <tbody class="mcnBoxedTextBlockOuter">
                <tr>
                  <td valign="top" class="mcnBoxedTextBlockInner">
                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;"
                      class="mcnBoxedTextContentContainer">
                      <tbody>
                        <tr>
                          <td style="padding-top:9px; padding-left:0px; padding-bottom:0px; padding-right:0px;">
                            <table border="0" cellspacing="0" class="mcnTextContentContainer" width="100%"
                              style="min-width:100% !important;">
                              <tbody>
                                <tr>
                                  <td valign="top" class="mcnTextContent"
                                    style="padding:0px;padding-right: 36px; padding-left:36px;color: #F2F2F2;font-family: Helvetica;font-size: 14px;font-weight: normal;line-height:18px;text-align: center;">
                                    <div style="text-align: center;">
                                      <span style="color:#53565C">
                                        <span style="font-size:12px">
                                          <span style="color:#53565C">
                                            <span style="font-size:12px;">
                                              <span style="font-family:arial,helvetica neue,helvetica,sans-serif">
                                                Esta invitación es <strong>personal e intransferible</strong>.<br>
                                                Para mayor información sobre las conferencias o asistencia sobre el
                                                uso de la plataforma, por favor envíenos un correo electrónico a
                                              </span>
                                            </span>
                                          </span>
                                        </span>
                                      </span>
                                    </div>

                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td style="padding-top:0px; padding-left:0px; padding-bottom:9px; padding-right:0px;">
                            <table border="0" cellspacing="0" class="mcnTextContentContainer" width="100%"
                              style="min-width:100% !important;">
                              <tbody>
                                <tr>
                                  <td valign="top" class="mcnTextContent"
                                    style="padding:0px;padding-right: 5px; padding-left:5px;color: #F2F2F2;font-family: Helvetica;font-size: 14px;font-weight: normal;line-height:18px;text-align: center;">
                                    <div style="text-align:center;">
                                      <span style="color:#53565C"><span style="font-size:12px !important"><span
                                            style="color:#53565C"><span style="font-size:12px !important"><span
                                                style="font-family:arial,helvetica neue,helvetica,sans-serif">
                                                <a href="mailto:contacto@credicorpcapitalconference.com"
                                                  target="_blank">contacto@credicorpcapitalconference.com</a></span></span></span>
                                        </span>
                                      </span>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>

            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock"
              style="min-width:100%;">
              <tbody class="mcnImageBlockOuter">
                <tr>
                  <td valign="top" style="padding:0px" class="mcnImageBlockInner">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0"
                      class="mcnImageContentContainer" style="min-width:100%;">
                      <tbody>
                        <tr>
                          <td class="mcnImageContent" valign="top"
                            style="padding-right: 0px; padding-left: 0px; padding-top: 25px; padding-bottom: 0; text-align:center;">
                            <a href="http://www.credicorpcapital.com" title="" class="" target="_blank">
                              <img align="center" alt=""
                                src="https://www.credicorpcapitalconference.com/assets/img/mails/Imagen%203.png"
                                width="600"
                                style="max-width:900px; padding-bottom: 0; display: inline !important; vertical-align: bottom;"
                                class="mcnImage">
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td valign="top" id="templateFooter">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
              <tbody class="mcnTextBlockOuter">
                <tr>
                  <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                    <table align="left" border="0" cellpadding="0" cellspacing="0"
                      style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                      <tbody>
                        <tr>
                          <td valign="top" class="mcnTextContent"
                            style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;line-height: 135%;">
                            <div style="text-align: left;"><span style="color:#B6B6B6"><span
                                  style="font-size:10px"><span
                                    style="font-family:arial,helvetica neue,helvetica,sans-serif">Credicorp Capital |
                                    Av. El Derby 055, Torre 4, Piso 7, Santiago de Surco, Lima – Perú. Esta
                                    comunicación ha sido dirigida a usted debido a que su correo se encuentra en
                                    nuestra base de datos. El presente correo electrónico comercial se envía conforme
                                    a lo dispuesto en la Ley N° 28493, modificada por Ley N° 29246 y el D.S.
                                    031-05-MTC – Ley Antispam Peruana y su Reglamento. En caso ya no desee recibir
                                    esta clase de comunicaciones, por favor envíe un correo a <a
                                      href="mailto:comunicaciones@credicorpcapital.com"
                                      target="_blank">comunicaciones@credicorpcapital.com</a>. con su solicitud de
                                    baja para los efectos de futuras comunicaciones de este tipo. Su remoción de
                                    nuestra base de datos será tramitada en un máximo de 2 días
                                    hábiles.</span></span></span></div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>


<table *ngIf="lang !== 'es'" align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
  <tr>
    <td align="center" valign="top" id="bodyCell">
      <!-- BEGIN TEMPLATE // -->
      <!--[if (gte mso 9)|(IE)]>
          <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
          <tr>
          <td align="center" valign="top" width="600" style="width:600px;">
          <![endif]-->
      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
        <tr>
          <td valign="top" id="templatePreheader">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
              <tbody class="mcnTextBlockOuter">
                <tr>
                  <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                    <!--[if mso]>
<table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
<tr>
<![endif]-->

                    <!--[if mso]>
<td valign="top" width="600" style="width:600px;">
<![endif]-->
                    <table align="left" border="0" cellpadding="0" cellspacing="0"
                      style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                      <tbody>
                        <tr>

                          <td valign="top" class="mcnTextContent" style="padding: 0px 18px 9px; text-align: center;">



                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!--[if mso]>
</td>
<![endif]-->

                    <!--[if mso]>
</tr>
</table>
<![endif]-->
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td valign="top" id="templateHeader">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock"
              style="min-width:100%;">
              <tbody class="mcnImageBlockOuter">
                <tr>
                  <td valign="top" style="padding:0px" class="mcnImageBlockInner">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0"
                      class="mcnImageContentContainer" style="min-width:100%;">
                      <tbody>
                        <tr>
                          <td class="mcnImageContent" valign="top"
                            style="padding-right: 0px; padding-left: 0px; padding-top: 0; padding-bottom: 0; text-align:center;">


                            <img align="center" alt=""
                              src="https://www.credicorpcapitalconference.com/assets/img/mails/Imagen%202.png"
                              width="600"
                              style="max-width:900px; padding-bottom: 0; display: inline !important; vertical-align: bottom;"
                              class="mcnImage">




                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td valign="top" id="templateBody">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock"
              style="min-width:100%;">
              <!--[if gte mso 9]>
<table align="center" border="0" cellspacing="0" cellpadding="0" width="100%">
<![endif]-->
              <tbody class="mcnBoxedTextBlockOuter">
                <tr>
                  <td valign="top" class="mcnBoxedTextBlockInner">

                    <!--[if gte mso 9]>
<td align="center" valign="top" ">
<![endif]-->
                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;"
                      class="mcnBoxedTextContentContainer">
                      <tbody>
                        <tr>
                          <!-- margen edu 1 -->
                          <td style="padding-top:20px; padding-left:36px; padding-bottom:9px; padding-right:36px;">

                            <table border="0" cellspacing="0" class="mcnTextContentContainer" width="100%"
                              style="min-width:100% !important;">
                              <tbody>
                                <tr>
                                  <td valign="top" class="mcnTextContent"
                                    style="padding: 0px;color: #F2F2F2;font-family: Helvetica;font-size: 14px;font-weight: normal;line-height:18px;text-align: center;">
                                    <div style="text-align: left;"><span style="color:#53565C"><span
                                          style="font-size:16px;"><span
                                            style="font-family:arial,helvetica neue,helvetica,sans-serif;">Dear
                                            client,<br>
                                            <br>
                                            We are sorry to hear you won’t be able to join us in the Investor Conference
                                            2021.<br>
                                            <br>
                                            However, if you change your mind, you will be able to register at any time
                                            until the starting day of the event.</span></span></span></div>

                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!--[if gte mso 9]>
</td>
<![endif]-->

                    <!--[if gte mso 9]>
  </tr>
  </table>
<![endif]-->
                  </td>
                </tr>
              </tbody>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnButtonBlock"
              style="min-width:100%;">
              <tbody class="mcnButtonBlockOuter">
                <tr>
                  <td style="padding-top:20px; padding-right:36px; padding-bottom:20px; padding-left:36px;" valign="top"
                    align="center" class="mcnButtonBlockInner">
                    <table border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer"
                      style="border-collapse: separate !important;border-radius: 2px;background-color: #E96852;">
                      <tbody>
                        <tr>
                          <td align="center" valign="middle" class="mcnButtonContent"
                            style="font-family: Arial; font-size: 16px; padding: 18px;"><a class="mcnButton "
                              title="Iniciar registro" href="https://www.credicorpcapitalconference.com/register?lang=en"
                              target="_blank"
                              style="font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;">Register
                              here</a></td>
                        </tr>



                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock"
              style="min-width:100%;">
              <!--[if gte mso 9]>
<table align="center" border="0" cellspacing="0" cellpadding="0" width="100%">
<![endif]-->
              <tbody class="mcnBoxedTextBlockOuter">
                <tr>
                  <td valign="top" class="mcnBoxedTextBlockInner">

                    <!--[if gte mso 9]>
<td align="center" valign="top" ">
<![endif]-->
                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;"
                      class="mcnBoxedTextContentContainer">
                      <tbody>
                        <tr>
                          <!-- margen edu 2 -->
                          <td style="padding-top:9px; padding-left:36px; padding-bottom:15px; padding-right:36px;">

                            <table border="0" cellspacing="0" class="mcnTextContentContainer" width="100%"
                              style="min-width:100% !important;">
                              <tbody>
                                <tr>
                                  <td valign="top" class="mcnTextContent"
                                    style="padding: 0px;color: #F2F2F2;font-family: Helvetica;font-size: 14px;font-weight: normal;text-align: center;line-height:18px;">
                                    <div style="text-align: left;"><span style="color:#53565C"><span
                                          style="font-size:16px">Sincerely,<br>
                                          <br>
                                          <strong>Credicorp Capital</strong></span></span></div>

                                  </td>
                                </tr>


                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!--[if gte mso 9]>
</td>
<![endif]-->

                    <!--[if gte mso 9]>
  </tr>
  </table>
<![endif]-->
                  </td>
                </tr>
              </tbody>
            </table>





            <!-- imagen aliados -->
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock"
              style="min-width:100%;">
              <tbody class="mcnImageBlockOuter">
                <tr>
                  <td valign="top" style="padding-top:0px" class="mcnImageBlockInner">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0"
                      class="mcnImageContentContainer" style="min-width:100%;">
                      <tbody>
                        <tr>
                          <!-- <td class="mcnImageContent" valign="top" style="padding-left:36px; padding-right: 36px; padding-top: 0; padding-bottom: 10px; ">-->
                          <td class="mcnImageContent" valign="top"
                            style="padding-right: 36px; padding-left:36px; padding-top: 25px; padding-bottom: 35px; ">


                            <img alt="" src="https://www.credicorpcapitalconference.com/assets/img/mails/Imagen%205.png"
                              width="370"
                              style="max-width:507px; padding-bottom: 0; display: inline !important; vertical-align: bottom;"
                              class="mcnImage">



                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>


            <!-- texto centrado edu -->


            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock"
              style="min-width:100%;">
              <!--[if gte mso 9]>
<table align="center" border="0" cellspacing="0" cellpadding="0" width="100%">
<![endif]-->
              <tbody class="mcnBoxedTextBlockOuter">
                <tr>
                  <td valign="top" class="mcnBoxedTextBlockInner">

                    <!--[if gte mso 9]>
<td align="center" valign="top" ">
<![endif]-->
                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;"
                      class="mcnBoxedTextContentContainer">
                      <tbody>
                        <tr>
                          <!-- margen edu 2 -->
                          <td style="padding-top:9px; padding-left:0px; padding-bottom:0px; padding-right:0px;">

                            <table border="0" cellspacing="0" class="mcnTextContentContainer" width="100%"
                              style="min-width:100% !important;">
                              <tbody>
                                <tr>
                                  <td valign="top" class="mcnTextContent"
                                    style="padding:0px;padding-right: 36px; padding-left:36px;color: #F2F2F2;font-family: Helvetica;font-size: 14px;font-weight: normal;line-height:18px;text-align: center;">


                                    <div style="text-align: center;">

                                      <span style="color:#53565C"><span style="font-size:12px"><span
                                            style="color:#53565C"><span style="font-size:12px;"><span
                                                style="font-family:arial,helvetica neue,helvetica,sans-serif">This
                                                invitation is <strong>personal and non-transferable</strong>.<br>
                                                For more information on the conference or guidance while using our
                                                platform, please send us an email at:</span></span></span>
                                              </span></span>
                                    </div>




                                  </td>
                                </tr>


                              </tbody>
                            </table>
                          </td>



                        </tr>

                        <!-- solo correo -->
                        <tr>
                          <!-- margen edu 2 -->
                          <td style="padding-top:0px; padding-left:0px; padding-bottom:9px; padding-right:0px;">

                            <table border="0" cellspacing="0" class="mcnTextContentContainer" width="100%"
                              style="min-width:100% !important;">
                              <tbody>
                                <tr>
                                  <td valign="top" class="mcnTextContent"
                                    style="padding:0px;padding-right: 5px; padding-left:5px;color: #F2F2F2;font-family: Helvetica;font-size: 14px;font-weight: normal;line-height:18px;text-align: center;">



                                    <div style="text-align:center;">

                                      <span style="color:#53565C"><span style="font-size:12px"><span
                                            style="color:#53565C"><span style="font-size:12px;"><span
                                                style="font-family:arial,helvetica neue,helvetica,sans-serif">

                                                <a href="mailto:contacto@credicorpcapitalconference.com"
                                                  target="_blank">contacto@credicorpcapitalconference.com</a></span></span></span>
                                                </span></span>
                                    </div>


                                  </td>
                                </tr>


                              </tbody>
                            </table>
                          </td>



                        </tr>


                        <!-- fin de solo correo -->
                      </tbody>
                    </table>
                    <!--[if gte mso 9]>
</td>
<![endif]-->

                    <!--[if gte mso 9]>
  </tr>
  </table>
<![endif]-->
                  </td>
                </tr>
              </tbody>
            </table>


            <!-- imagen banner -->
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock"
              style="min-width:100%;">
              <tbody class="mcnImageBlockOuter">
                <tr>
                  <td valign="top" style="padding:0px" class="mcnImageBlockInner">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0"
                      class="mcnImageContentContainer" style="min-width:100%;">
                      <tbody>
                        <tr>
                          <td class="mcnImageContent" valign="top"
                            style="padding-right: 0px; padding-left: 0px; padding-top: 25px; padding-bottom: 0; text-align:center;">

                            <a href="http://www.credicorpcapital.com" title="" class="" target="_blank">

                              <img align="center" alt=""
                                src="https://www.credicorpcapitalconference.com/assets/img/mails/Imagen%203.png"
                                width="600"
                                style="max-width:900px; padding-bottom: 0; display: inline !important; vertical-align: bottom;"
                                class="mcnImage">


                            </a>

                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>

          </td>
        </tr>

        <tr>
          <td valign="top" id="templateFooter">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
              <tbody class="mcnTextBlockOuter">
                <tr>
                  <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                    <!--[if mso]>
<table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
<tr>
<![endif]-->

                    <!--[if mso]>
<td valign="top" width="600" style="width:600px;">
<![endif]-->
                    <table align="left" border="0" cellpadding="0" cellspacing="0"
                      style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                      <tbody>
                        <tr>

                          <td valign="top" class="mcnTextContent"
                            style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;line-height: 135%;">

                            <div style="text-align: left;"><span style="color:#B6B6B6"><span
                                  style="font-size:10px"><span
                                    style="font-family:arial,helvetica neue,helvetica,sans-serif">Credicorp Capital |
                                    055 El Derby Avenue, Tower 4, 7th floor, Santiago de Surco, Lima – Peru. This
                                    communication has been sent to you because you’re registered in our database. This
                                    present commercial email has been sent following what Law N°28493, modified by Law
                                    N° 29246 and the Supreme Decrete 031-05-MTC- Peruvian Anti Spam Law states and its
                                    regulations. If you’d like to unsubscribe and stop receiving these emails, please
                                    let us know by sending your discharge solicitation from future communications to: <a
                                      href="mailto:comunicaciones@credicorpcapital.com"
                                      target="_blank">comunicaciones@credicorpcapital.com</a>. The removal process will
                                    take up to 2 working days.</span></span></span></div>

                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!--[if mso]>
</td>
<![endif]-->

                    <!--[if mso]>
</tr>
</table>
<![endif]-->
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </table>
      <!--[if (gte mso 9)|(IE)]>
          </td>
          </tr>
          </table>
          <![endif]-->
      <!-- // END TEMPLATE -->
    </td>
  </tr>
</table>
