<div class="navbar">
  <div class="header__logo">
    <img [src]="logoFooterResponsive" alt="" (click)="goToPage('credicorp')">
  </div>
  <ul>
    <li *ngFor="let menu of menus; let i=index" [ngClass]="{'active': pathUrl === ('/'+menu.url) }">
      <a (click)="goToPage(menu.url)">
        {{ lang === 'es' ? menu.name : menu.name_en }}
        <hr [ngClass]="{'activeBarra': pathUrl === ('/'+menu.url)}">
      </a>
    </li>
  </ul>
  <!-- TODO AGREGAR EVENTO CLICK AL BOTON  (click)="goToPage('event-live')" -->
  <button *ngIf="config_menu && user && token" [ngClass]="{'btnLive': pathUrl === ('/event-live')}">
    <span>{{ lang === 'es' ? config_menu.btn_meet : config_menu.btn_meet_en }}</span>
    <img class="live" src="assets/icons/point.svg" alt="">
  </button>
  <div class="header__action" [ngClass]="{'header__action_no-user': !user}">
    <!-- <div class="header__action-notification" *ngIf="user && token">
      <img src="../../../assets/img/icon_campaign.svg" alt="">
      <label for="" class="notification-count">5</label>
    </div> -->
    <div class="header__action-country">
      <img src="../../../assets/img/icon_spanish.svg" (click)="switchLang('es')" [ngClass]="{active: lang==='es'}"
        alt="spanish">
      <img src="../../../assets/img/icon_english.svg" (click)="switchLang('en')" [ngClass]="{active: lang==='en'}"
        alt="english">
    </div>
    <div class="header__action-user" *ngIf="user && token">

      <div class="user__info">
        <img src="../../../assets/img/icon_user.svg" alt="">
        <div class="user__info-name">
          <p>{{ user.name }} {{ user.last_name }}</p>
          <!-- <p *ngIf="user.company">
            {{ user.company }}
          </p> -->
        </div>
        <p class="tooltip">{{ user.name }} {{ user.last_name }}</p>
      </div>
    </div>
  </div>
</div>
