@import "variables";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 95px;
  position: fixed;
  width: 100%;
  // margin-top: 62px;
  background: white;
  z-index: 99999;
  border: 1px solid rgba(190, 205, 205, 0.5);

  @media (max-width: 1440px) {
    padding: 0px 65px;
  }
  @media (max-width: 1260px) {
    padding: 0px 25px;
  }
  @media (max-width: 1190px) {
    flex-wrap: wrap;
  }
  @media (max-width: 768px) {
    justify-content: space-between;
    width: 100% !important;
    max-width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  padding: 0px 65px;
  height: 75px;
  .header__logo {
    width: 20%;
    @media (max-width: 978px) {
      width: 30%;
    }
    @media (max-width: 768px) {
      width: 50%;
    }
    // @media (max-width: 500px) {
    //   width: 35%;
    // }
    img {
      cursor: pointer;
      width: 100%;
    }
  }
  ul {
    display: flex;
    @media (max-width: 978px) {
      display: none;
    }
    li {
      font-family: Cabin;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #808387;
      padding-right: 20px;
      padding-top: 0px;
      &.active a {
        color: #ea6752;
      }
      a {
        font-size: 17px;
        position: relative;
      }
      hr {
        border: 2px solid transparent;
        border-radius: 4px 4px 0px 0px;
        position: absolute;
        top: auto;
        bottom: -27px;
        left: 0;
        right: 0;
        margin: 0;
        @media (max-width: 1190px) {
          top: 0;
        }
        @media (max-width: 978px) {
          // top: 0;
          bottom: -5px;
        }
      }
      .activeBarra {
        border-bottom: 2px solid #ea6752;
      }
    }
  }
}

.header__action {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  @media (max-width: 1190px) {
    width: 30%;
    position: relative;
    // left: 70vw;
  }
  @media (max-width: 910px) {
    width: 35%;
  }
  @media (max-width: 700px) {
    width: 50%;
  }
  @media (max-width: 500px) {
    width: 40%;
  }
  .header__action-notification {
    width: 13%;
    display: flex;
    position: relative;
    justify-content: center;
    img {
      height: 32px;
    }
    .notification-count {
      position: absolute;
      top: -4px;
      right: -1px;
      background: #ea6752;
      width: 20px;
      height: 20px;
      color: white;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      font-size: 8px;
      border: 2px solid white;
    }
  }
  .header__action-country {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 500px) {
      width: 35%;
    }
    img {
      cursor: pointer;
      @media (max-width: 500px) {
        width: 25px;
      }
    }
    img.active {
      background: #becdcd42;
      padding: 5px 5px;
      border-radius: 5px;
    }
  }
  .header__action-user {
    // width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .user__info {
      display: flex;
      position: relative;
      img {
        @media (max-width: 500px) {
          width: 20px;
        }
      }
      &-name {
        padding-left: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100px;
        @media (max-width: 500px) {
          width: 50px;
        }
      }
      &:hover .tooltip {
        visibility: visible;
      }
    }
    p {
      font-size: 14px;
      font-family: Cabin;
      &:nth-child(1) {
        color: #54565b;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        line-height: 1;
      }
      &:nth-child(2) {
        width: 100%;
        color: #becdcd;
        line-height: 1;
      }
    }
    .tooltip {
      visibility: hidden;
      position: absolute;
      right: 0;
      top: 28px;
      background: #dee5e6;
      padding: 0px 7px;
      font-size: 12px;
      z-index: 9;
      border-radius: 5px;
      font-family: Cabin;
      color: #54565b;
    }

    img {
      height: 32px;
    }
  }
}

.header__action_no-user {
  width: 15% !important;
  .header__action-country {
    width: 50%
  }
  @media (max-width: 768px) {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 30% !important;
  }
}

button {
  // height: 40px;
  // width: 170px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background: $red1;
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.3px;
  box-shadow: none;
  // text-transform: uppercase;
  border-style: none;
  position: fixed;
  top: 10vh;
  right: 1vw;
  @media (max-width: 768px) {
    right: 3vw;
  }
  span {
    display: none;
  }
  img {
    // padding-left: 12px;
    width: 100%;
  }
}

button {
  &:hover {
    // height: 40px;
    // width: 170px;
    height: 30px;
    width: 100px;
    // display: block;
    img {
      width: 30px;
      padding-left: 12px;
    }
    span {
      font-family: Cabin;
      display: block;
    }
  }
}

.btnLive {
  display: none;
}

.live {
  -webkit-animation: live 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
  animation: live 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
}
@-webkit-keyframes live {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  25% {
    -webkit-transform: scale(0.25);
    transform: scale(0.25);
  }
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  75% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes live {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  25% {
    -webkit-transform: scale(0.25);
    transform: scale(0.25);
  }
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  75% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
