.users {
  background: #f9f9f9;
  padding: 100px 30px 64px;
}

table {
  width: 100%;
  border: 1px solid #000;
}

thead tr th {
  background: #000;
  color: white;
}

th,
td {
  width: 25%;
  text-align: left;
  vertical-align: top;
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 0.3em;
  caption-side: bottom;
}

caption {
  padding: 0.3em;
  color: #fff;
  background: #ea6752;
}

th {
  background: #eee;
}

button {
  width: 150px;
  height: 40px;
  margin: 1%;
  background: #ea6752;
  color: white;
  border-radius: 15px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: .3px;
  box-shadow: none;
  border-style: none;
}
