<div class="users">
  <button (click)="downloadReporte()">Descargar Reporte</button>
  <table class="table">
    <caption>Listado de Espectadores</caption>
    <thead>
      <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Correo</th>
        <th>Fecha</th>
        <th>Hora Entrada</th>
        <th>Hora Salida</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i=index">
        <td>{{ user.name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.date_  | date:'dd-MM-YYYY'}}</td>
        <td>{{ user.hour_ }}</td>
        <td>{{ user.final_hour }}</td>
      </tr>
    </tbody>
  </table>

</div>
