<div class="speakerContent">

  <div class="boxDescription">
    <div class="description" *ngIf="speakers">
      <h3 *ngIf="lang === 'es'">{{ speakers.length === 1 ? 'Expositor' : 'Expositores' }}</h3>
      <h3 *ngIf="lang !== 'es'">{{ speakers.length === 1 ? 'Speaker' : 'Speakers' }}</h3>
      <hr>
      <div class="boxCard">
        <div class="card" *ngFor="let sp of speakers; let i=index">
          <div class="photo" style="background-image: url('http://159.223.201.87/{{sp.file}}');">

            <!-- <img class="country" src="assets/icons/spain.svg" alt=""> -->
          </div>
          <p class="name">{{sp.name | titlecase}} {{sp.last_name | titlecase}}</p>
          <hr>
          <p class="info">
            {{ lang === 'es' ? sp.description : sp.description_en}}
          </p>
          <button class="btnDetail" (click)="viewDetailSpeaker(sp.id)">{{ lang === 'es' ? text.btn_detail :
            text.btn_detail_en}}</button>
        </div>
      </div>
    </div>
    <div class="description" *ngIf="moderators">
      <h3 *ngIf="lang === 'es'">{{ moderators.length === 1 ? 'Moderador' : 'Moderadores' }}</h3>
      <h3 *ngIf="lang !== 'es'">{{ moderators.length === 1 ? 'Moderator' : 'Moderators' }}</h3>
      <hr>
      <div class="boxCard">
        <div class="card" *ngFor="let mod of moderators; let i=index">

          <div class="photo" style="background-image: url('http://159.223.201.87/{{mod.file}}');">
            <!-- <img class="country" src="assets/icons/spain.svg" alt=""> -->
          </div>
          <p class="name">{{mod.name | titlecase}} {{mod.last_name | titlecase}}</p>
          <hr>
          <p class="info">
            {{ lang === 'es' ? mod.description : mod.description_en}}
          </p>
          <button class="btnDetail" (click)="viewDetailModerator(mod.id)">{{ lang === 'es' ? text.btn_detail :
            text.btn_detail_en}}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="boxMore">
    <div class="boxDate">
      <div class="date">
        <!-- <p>Día</p> -->
        <h1>{{date_number}}</h1>
        &nbsp;&nbsp;&nbsp;
        <span>{{date_mouth}}</span>
      </div>
    </div>

    <h3 *ngIf="lang === 'es'">
      Saber más de
      <span>
        Investor Conference
      </span>
    </h3>
    <h3 *ngIf="lang !== 'es'">
      Learn more about
      <span>
        Investor Conference
      </span>
    </h3>
    

    <ng-container *ngFor="let ext of dataExternal">
      <div *ngIf="ext.display_type_id === 1">
        <button  class="btnMore" (click)="goToLink(ext.url)">
          {{ lang === 'es' ? ext.name : ext.name_en }}
          <img src="assets/icons/link.svg" alt="">
        </button>
      </div>

      <div class="boxVideo" *ngIf="ext.display_type_id === 2">
        <h2 *ngIf="lang === 'es'">{{ext.name}}</h2>
        <h2 *ngIf="lang !== 'es'">{{ext.name_en}}</h2>
        <div class="video">
          <iframe width="100%" height="100%" [src]="transform(ext.url)" title="YouTube video player"
          frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen style="background: rgba(43, 45, 49, 0.75);"></iframe>
        </div>
      </div>
    </ng-container>

  </div>


</div>
