@import "variables";

@font-face {
  font-family: "Cabin";
  src: url("../../../../assets/fonts/TTJenevers/Cabin-Regular.ttf");
}

@font-face {
  font-family: "TTJenevers";
  src: url("../../../../assets/fonts/TTJenevers/TTJenevers-Regular.ttf");
}

.speakerContent {
  background: #f9f9f9;
  padding: 100px 30px 64px;
  display: flex;
  @media (max-width: 768px) {
    flex-wrap: wrap;
    padding: 15px;
    background: white;
  }
}

.boxDescription {
  width: 70%;
  margin: 0 5%;
  @media (max-width: 768px) {
    width: 100%;
  }
  .description {
    h3 {
      font-family: TT Jenevers;
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 30px;
      color: #2b2d31;
    }
    hr {
      width: 80px;
      border: 1px solid #ea6752;
      background: #ea6752;
      margin-left: 0;
    }
    .boxCard {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 3%;
      .card {
        width: 45%;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5%;
        margin-bottom: 5%;
        background: $white;
        box-sizing: border-box;
        @media (max-width: 768px) {
          width: 100%;
        }
        .photo {
          height: 100px;
          width: 100px;
          border-radius: 50%;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: inherit;
          position: relative;
          margin-bottom: 5%;
          .country {
            position: absolute;
            bottom: 0;
            right: 0;
            height: 30%;
            border-radius: 25px;
          }
        }
        .name {
          font-family: Cabin;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 30px;
        }
        hr {
          margin: 5% 20%;
        }
        .info {
          font-family: Cabin;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 25px;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        .btnDetail {
          width: 100%;
          height: 42px;
          background: #dee5e6;
          border-radius: 15px;
          font-family: Cabin;
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 18px;
          text-align: center;
          color: #2b2d31;
          margin-top: 5%;
          box-shadow: none;
          border-style: none;
        }
      }
    }
  }
}

.boxMore {
  width: 30%;
  margin-right: 5%;
  // margin-top: 5%;
  @media (max-width: 768px) {
    width: 100%;
  }
  .boxDate {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5% 10%;
    .date {
      // width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      p {
        font-family: Cabin;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: $black;
      }
      h1 {
        font-family: Cabin;
        font-style: normal;
        font-weight: bold;
        font-size: 100px;
        // line-height: 150px;
        color: $black;
      }
      span {
        font-family: Cabin;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 24px;
        color: #54565b;
        text-transform: uppercase;
      }
    }
    hr {
      border: 2px solid $gray2;
      background: $gray2;
    }
  }

  h3 {
    font-family: Cabin;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #2b2d31;
    margin-bottom: 5%;
    span {
      color: #ea6752;
    }
  }
  .boxVideo {
    margin-top: 5%;
    h2 {
      font-family: TT Jenevers;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 20px;
      color: #2b2d31;
      margin-bottom: 1rem;
    }
    .video {
      height: 200px;
      // background: #333939;
      // opacity: 0.4;
    }
  }
  .btnMore {
    width: 100%;
    height: 42px;
    background: #ea6752;
    border-radius: 15px;
    font-family: Cabin;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    padding: 5%;
    margin-top: 10%;
    border-style: none;
  }
}
::ng-deep{
  .owl-carousel{
    position: relative;

    .owl-nav{
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .owl-next,
      .owl-prev{
        border-radius: 50px !important;
      }
    }
  }
}