@font-face {
  font-family: "Cabin";
  src: url("../../../../assets/fonts/TTJenevers/Cabin-Regular.ttf");
}

@font-face {
  font-family: "TTJenevers";
  src: url("../../../../assets/fonts/TTJenevers/TTJenevers-Regular.ttf");
}
h1,
h3,
h4 {
  font-family: Cabin;
  font-weight: 700;
}
h1 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}

p {
  font-family: Cabin;
}

.alert {
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  .cancel {
    position: relative;
    .b-cancel {
      cursor: pointer;
      top: -15px;
      position: absolute;
      right: -15px;
      z-index: 1;
    }
  }

  .popup_body {
    &-profile {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      .separator {
        border: 1px solid #ea6752;
        background: #ea6752;
        margin: 15px auto;
      }
      .photo {
        // width: 100px;
        // height: 100px;
        // margin-bottom: 25px;
        // border-radius: 50%;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: inherit;
        position: relative;
        margin-bottom: 5%;
      }
      h3 {
        color: #8f9c9d;
        margin-top: 10px;
      }
      p {
        text-align: left;
        font-size: 15px;
        @media (max-width: 768px) {
          // font-size: 15px;
        }
      }
    }
  }

  .popup_confernces {
    background: white;
    padding: 30px 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .schedule__date {
      width: 70%;
    }
    .date-btns {
      display: flex;
      justify-content: space-between;
    }
    .separator {
      border: 2px solid #b33828;
    }
    h4 {
      font-size: 18px;
      color: #ea6752;
      margin-bottom: 10px;
    }
    p {
      font-size: 12px;
    }

    .date-contain {
      padding: 0px;
      margin-bottom: 0px;
      // overflow: auto;
      // max-height: 40vh;
      hr {
        border: 1.5px solid #becdcd;
        background: #becdcd;
        border-radius: 10px;
        margin-bottom: 20px;
        opacity: 0.2;
      }
      section {
        margin-bottom: 15px;
      }
      & section > p {
        padding-left: 15px;
        position: relative;
        color: #54565b;
        margin-bottom: 5px;
        &::before {
          content: "";
          background: url("../../../../assets/img/icon_diary.svg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          width: 10px;
          height: 10px;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
    .date-contain__btns {
      display: flex;
      img {
        padding-left: 10px;
      }
      button {
        background: rgba(174, 209, 240, 0.5);
        border: 1px solid #4876ab;
        outline: none;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
      }
    }
    .date-contain__description {
      position: relative;

      h3 {
        font-family: Cabin;
        margin-bottom: 10px;
      }
      .description-expositor {
        & ul {
          display: flex;
          align-items: center;
          li {
            display: flex;
            align-items: center;
            @media (max-width: 520px) {
              display: list-item;
              flex-wrap: wrap;
            }
          }
          &:nth-child(1) {
            padding-bottom: 15px;
            & li {
              &:nth-child(1) {
                color: #ea6752;
              }
            }
          }
          &:nth-child(2) {
            padding-bottom: 15px;
            & li {
              &:nth-child(1) {
                color: #54565a;
                p {
                  padding-right: 10px;
                }
              }
            }
          }
        }
        p {
          font-size: 15px;
        }
        &__user {
          display: flex;
          padding: 0px 10px;
          cursor: pointer;
          p {
            color: #8f9c9d;
            padding-left: 7px;
          }
          .user-photo {
            width: 20px;
            height: 20px;
            background-size: cover;
            background-position: inherit;
            border-radius: 50%;
          }
        }
        .txtExpositor {
          width: 100px;
        }
      }
      .btn_schedule {
        position: absolute;
        bottom: 25px;
        right: 0;
        display: flex;
      }
    }

    .schedule__diary {
      width: 28%;
      font-family: Cabin;

      h2 {
        font-size: 26px;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        img {
          width: 25px;
          margin-right: 10px;
          border-radius: 50%;
        }
      }
      .inputs_group {
        position: relative;
        input {
          width: 100%;
          width: 100%;
          background: #becdcd42;
          border: none;
          outline: none;
          padding: 7px 35px;
          color: #8f9c9d;
          box-sizing: border-box;
        }
        &:before {
          content: "";
          position: absolute;
          left: 10px;
          top: 0;
          bottom: 0;
          width: 20px;
          height: 20px;
          background: url("../../../../assets/img/icon_search.svg");
          margin: auto;
          background-size: 80%;
          background-position: center;
          background-repeat: no-repeat;
        }
      }

      .diary-content {
        margin-top: 15px;
        hr {
          border: 1px solid #becdcd;
        }
        section {
          margin-bottom: 15px;
        }
        p {
          color: #b33828;
          font-size: 15px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          span {
            width: 8px;
            height: 8px;
            background: #b33828;
            border-radius: 10px;
            animation-name: bounce;
            animation-duration: 0.6s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
          }
        }
        h4 {
          font-size: 18px;
          padding: 5px 0px;
          &:nth-child(1) {
            margin-bottom: 15px;
          }
          &:nth-child(3) {
            margin: 5px 0px 8px;
          }
        }
        h5 {
          font-size: 14px;
          color: #8f9c9d;
          margin-bottom: 12px;
        }
        .diary-content__btns {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          .btn-details {
            color: #2b2d31;
            background: #dee5e6;
            border: none;
            outline: none;
            padding: 6px 0px;
            font-size: 14px;
            &.w-50 {
              width: 49%;
            }
            &.w-100 {
              width: 100%;
            }
          }
          .btn-agree {
            color: #4876ab;
            background: rgba(174, 209, 240, 0.5);
            border: none;
            outline: none;
            padding: 6px 0px;
            font-size: 14px;
            &.w-50 {
              width: 49%;
            }
            &.w-100 {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
