<div class="alert">
  <div class="popup_header">
    <div class="cancel">
      <svg class="b-cancel" (click)="onNoClick()" width="40" height="40" viewBox="0 0 40 40" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <!-- <circle cx="20" cy="20" r="20" fill="#DEE5E6" /> -->
        <!-- <circle cx="20" cy="20" r="9" fill="#DEE5E6" /> -->
        <path
          d="M27 14.41L25.59 13L20 18.59L14.41 13L13 14.41L18.59 20L13 25.59L14.41 27L20 21.41L25.59 27L27 25.59L21.41 20L27 14.41Z"
          fill="black" />
      </svg>
    </div>
  </div>

  <div class="popup_body">
    <div class="popup_body-profile">
      <div class="photo" style="background-image: url('http://159.223.201.87/{{data.info.file}}');">
        <!-- <img [src]="url+'/'+data.info.file" alt=""> -->
      </div>
      <h1>{{ data.info.name }} {{ data.info.last_name }}</h1>
      <h3>{{ data.lang === 'es' ? data.info.position : data.info.position_en }}</h3>
      <div class="separator"></div>
      <p>{{ data.lang === 'es' ? data.info.description : data.info.description_en }}</p>
    </div>
  </div>

  <div class="popup_confernces">
    <div class="date-contain" *ngFor="let schedule of data.agenda; let sche=index">
      <section *ngFor="let event of schedule.events; let even=index">
        <h4 *ngIf="data.agenda.length > 1">
          {{ data.lang === 'es' ? 'Conferencias' : 'Conferences' }}
        </h4>
        <h4 *ngIf="data.agenda.length === 1">
          {{ data.lang === 'es' ? 'Conferencia' : 'Conference' }}
        </h4>
        <p>
          {{ data.lang === 'es' ? schedule.date_string : schedule.date_string_en }} -
          <!-- {{ event.date | amDateFormat:'h:mm a' }} - {{ event.city }} -->
          {{ event.date | dateZone:'America/Lima':'h:mm a' }} PE |
          {{ event.date | dateZone:'America/New_York':'h:mm a' }} NY |
          {{ event.date | dateZone:'America/Santiago':'h:mm a' }} CL
        </p>
        <div class="date-contain__description">
          <h3>{{ data.lang === 'es' ? event.title : event.title_en }}</h3>
          <div class="description-expositor">

            <ul *ngIf="event.speaker.length">
              <li class="txtExpositor">
                <p *ngIf="data.lang === 'es'"> {{ event.speaker.length === 1 ? 'Expositor' : 'Expositores' }} :</p>
                <p *ngIf="data.lang !== 'es'"> {{ event.speaker.length === 1 ? 'Speaker' : 'Speakers' }} :</p>
              </li>
              <li>
                <div class="description-expositor__user" *ngFor="let speaker of event.speaker; let s=index">
                  <div class="user-photo" style="background-image: url('{{url}}/{{ speaker.route }}')"></div>
                  <p>{{ speaker.name }}</p>
                </div>
              </li>
            </ul>

            <ul *ngIf="event.moderator.length">
              <li class="txtExpositor">
                <p *ngIf="data.lang === 'es'"> {{ event.moderator.length === 1 ? 'Moderador' : 'Moderadores' }} :</p>
                <p *ngIf="data.lang !== 'es'"> {{ event.moderator.length === 1 ? 'Moderator' : 'Moderators' }} :</p>
              </li>
              <li>
                <div class="description-expositor__user" *ngFor="let moderator of event.moderator; let i=index">
                  <div class="user-photo" style="background-image: url('{{url}}/{{ moderator.route }}')"></div>
                  <p>{{ moderator.name }}</p>
                </div>
              </li>
            </ul>

          </div>
        </div>
        <hr *ngIf="schedule.events.length !== (even+1)">
      </section>
    </div>
  </div>

</div>
