// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$credicorpinvestor-primary: mat-palette($mat-indigo);
$credicorpinvestor-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$credicorpinvestor-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$credicorpinvestor-theme: mat-light-theme(
  (
    color: (
      primary: $credicorpinvestor-primary,
      accent: $credicorpinvestor-accent,
      warn: $credicorpinvestor-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($credicorpinvestor-theme);

/* You can add global styles to this file, and also import other style files */

/* Fonts */
@font-face {
  font-family: "Cabin";
  src: url("./assets/fonts/TTJenevers/Cabin-Regular.ttf");
}
@font-face {
  font-family: "TTJenevers";
  src: url("./assets/fonts/TTJenevers/TTJenevers-Regular.ttf");
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Cabin", "TTJenevers";
}
@import "_variables";

/*Reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  font-family: Cabin;
  line-height: 1.5;
}
/* UI KIT */
.btn_primary {
  background: #b33828;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
  border: 0px;
  padding: 5px 70px;
  color: white;
  font-size: 15px;
  outline: none;
  font-family: Cabin;
}
.btn_secondary {
  background: transparent;
  border: 1px solid #becdcd;
  padding: 5px 64.88px;
  color: #8f9c9d;
  font-size: 15px;
  outline: none;
  font-family: Cabin;
}

h1 {
  font-family: TTJenevers;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  font-family: TTJenevers;
}

label {
  font-family: Cabin;
  font-size: 13px;
  color: #54565b;
  text-decoration: none;
}
a {
  font-family: Cabin;
  font-size: 15px;
  color: #54565b;
  text-decoration: none;
}
.separator {
  text-align: left;
  border: 2px solid #becdcd;
  width: 6%;
  margin: 15px 0px 20px 0px;
  @media (max-width: 768px) {
    width: 15%;
  }
}

button,
a {
  cursor: pointer;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8f9c9d;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #8f9c9d;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #8f9c9d;
}

input,
button {
  font-family: Cabin;
  font-size: 14px;
  outline: none;
}

/* Popup */
.mat-dialog-container {
  // height: 480px !important;
  // padding: 60px 45px !important;
  // padding: 40px !important;
  // box-sizing: content-box !important;
  // @media (max-width: 768px){
  // width: 25rem !important;
  // padding: 25px !important;
  // box-sizing: inherit !important;
  // }
  overflow: hidden !important;
}

.cdk-overlay-container {
  z-index: 100000;
}

// Loading

.swal2-popup {
  background: transparent !important;
}

.swal2-title {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 25px !important;
  line-height: 35px !important;
  color: $black !important;
}

.swal2-actions {
  margin: 0 !important;
}

.swal2-loader {
  border-color: $red3 transparent $red3 transparent !important;
  height: 3.5em !important;
  width: 3.5em !important;
}

///////////////SCROLL START////////////////////////

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 10px;
}

::-webkit-scrollbar-button:increment,
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $gray2;
  border-radius: 20px;
  // border: 2px solid $gray4;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

///////////////SCROLL END////////////////////////

// Responsive General
@media (max-width: 768px) {
  // .carousel {
  //   height: 275px !important;
  // }

  .carousel-arrow.carousel-arrow-prev,
  .carousel-arrow.carousel-arrow-next {
    width: 25px !important;
    height: 25px !important;
    background-size: 19px !important;
  }
}
