<div class="schedule">
  <!-- Inicio de Calendario de eventos -->
  <div class="schedule__date" [ngClass]="{'schedule__date_no-user': !user}">
    <div class="date-contain" *ngFor="let schedule of schedules; let sche=index">
      <h3>{{ lang === 'es' ? schedule.date_string : schedule.date_string_en }}</h3>
      <div class="separator"></div>
      <section *ngFor="let event of schedule.events; let even=index">
        <p>
          {{ event.date | dateZone:'America/Lima':'h:mm a' }} PE |
          {{ event.date | dateZone:'America/New_York':'h:mm a' }} NY |
          {{ event.date | dateZone:'America/Santiago':'h:mm a' }} CL
        </p>
        <div class="date-contain__description">
          <h3>{{ lang === 'es' ? event.title : event.title_en }}</h3>
          <div class="description-expositor">

            <ul *ngIf="event.speaker.length">
              <li class="txtExpositor">
                <p *ngIf="lang === 'es'"> {{ event.speaker.length === 1 ? 'Expositor' : 'Expositores' }} :</p>
                <p *ngIf="lang !== 'es'"> {{ event.speaker.length === 1 ? 'Speaker' : 'Speakers' }} :</p>
              </li>
              <li> 
                <div class="description-expositor__user" *ngFor="let speaker of event.speaker; let s=index"
                  (click)="viewDetailSpeaker(speaker.id)">
                  <div class="user-photo" style="background-image: url('{{url}}/{{ speaker.route }}')"></div>
                  <p>{{ speaker.name | titlecase }}</p>
                </div>
              </li>
            </ul>

            <ul *ngIf="event.moderator.length">
              <li class="txtExpositor">
                <p *ngIf="lang === 'es'"> {{ event.moderator.length === 1 ? 'Moderador' : 'Moderadores' }} :</p>
                <p *ngIf="lang !== 'es'"> {{ event.moderator.length === 1 ? 'Moderator' : 'Moderators' }} :</p>
              </li>
              <li>
                <div class="description-expositor__user" *ngFor="let moderator of event.moderator; let i=index"
                  (click)="viewDetailModerator(moderator.id)">
                  <div class="user-photo" style="background-image: url('{{url}}/{{ moderator.route }}')"></div>
                  <p>{{ moderator.name | titlecase }}</p>
                </div>
              </li>
            </ul>

          </div>
          <div class="btn_schedule" *ngIf="config_schedule">
            <!-- TODO descomentar el check y comentar activar el boton para que funcione la seleccion masiva -->
            <!-- <input type="checkbox" id="schedule-{{ event.id }}" name="schedule-{{ event.id }}" value="{{ event.id }}"
              class="add-schedule" (click)="addScheduleCalendar(event)" *ngIf="!event.exist">
            <label for="schedule-{{ event.id }}" *ngIf="!event.exist">
              {{ lang === 'es' ? config_schedule.lbl_toschedule : config_schedule.lbl_toschedule_en }}
            </label> -->
            <!-- <label for="schedule-{{ event.id }}" *ngIf="event.exist"> -->
            <!-- {{ lang === 'es' ? config_schedule.lbl_toschedule_calendar : config_schedule.lbl_toschedule_calendar_en }} -->
            <!-- </label> -->
            <button class="btn_primary" (click)="addScheduleCalendar(event)" *ngIf="!event.exist && user">
              {{ lang === 'es' ? config_schedule.lbl_toschedule : config_schedule.lbl_toschedule_en }}
            </button>
            <button class="btn_secondary" *ngIf="event.exist && user">
              {{ lang === 'es' ? config_schedule.lbl_toschedule_calendar : config_schedule.lbl_toschedule_calendar_en }}
            </button>
            <button class="btn_primary" *ngIf="!user" (click)="goToPage('register')">
              {{ lang === 'es' ? config_schedule.lbl_toschedule_register : config_schedule.lbl_toschedule_register_en }}
            </button>
          </div>
        </div>

        <div class="date-contain__btns" *ngFor="let presentation of event.presentations; let pres=index">
          <button *ngIf="presentation.url"
            (click)="downloadPresentation(presentation.url)">
            <img src="../../../../assets/img/icon_download.svg" alt="">
          </button>
        </div>
        <hr *ngIf="schedule.events.length !== (even+1)">
      </section>
    </div>
    <!-- TODO descomentar la clase date-btns para que funcione con los check -->
    <!-- <div class="date-btns" *ngIf="config_schedule && user">
      <button class="btn_secondary" (click)="cleanScheduleCalendar()">
        {{ lang === 'es' ? config_schedule.btn_clean : config_schedule.btn_clean_en }}
      </button>
      <button class="btn_primary" (click)="goSchedule()" [disabled]="!myScheduleCalendar.length">
        {{ lang === 'es' ? config_schedule.btn_toschedule : config_schedule.btn_toschedule_en }}
      </button>
    </div> -->
  </div>
  <!-- Fin de Calendario de eventos -->

  <!-- Mi agenda inicio -->
  <div class="schedule__diary" *ngIf="user">
    <h2 *ngIf="config_agenda">
      <img src="../../../../assets/img/icon_diary.svg" alt="">
      {{ lang === 'es' ? config_agenda.lbl_title : config_agenda.lbl_title_en }}
    </h2>
    <!-- <div class="inputs_group" *ngIf="config_agenda">
      <input type="text"
        placeholder="{{ lang === 'es' ? config_agenda.search_placeholder : config_agenda.search_placeholder_en }}"
        (keyup)="searchAgenda(myAgenda.value)" #myAgenda>
    </div> -->
    <div class="diary-content" *ngFor="let mySchedule of mySchedules; let mySche=index">
      <h4 *ngIf="mySchedule.events.length">
        {{ lang === 'es' ? mySchedule.date_string_large : mySchedule.date_string_large_en }}
      </h4>
      <section *ngFor="let myEvents of mySchedule.events; let myEven=index">
        <p>
          {{ lang==='es' ? myEvents.type : myEvents.type_en }}
          <span class="status"
            *ngIf="(hour | amLocale:lang | amDifference: myEvents.date :'minute') <= time &&  (hour | amLocale:lang | amDifference: myEvents.date :'minute') >= 0"></span>
        </p>
        <h4>{{ lang === 'es' ? myEvents.title : myEvents.title_en }}</h4>
        <label *ngFor="let speaker of myEvents.speakers; let i=index">
          {{ speaker.name }}
          <label *ngIf="myEvents.speakers.length !== (i+1)">,</label>
        </label>
        <h5 *ngIf="config_agenda">
          {{ lang === 'es' ? config_agenda.lbl_event : config_agenda.lbl_event_en }}
          <!-- {{ myEvents.date | amDateFormat:'h:mm A' }} -->
          :
          <!-- {{ lang === 'es' ? config_agenda.lbl_city : config_agenda.lbl_city_en }} -->
          {{ myEvents.date | dateZone:'America/Lima':'HH:mm' }} PE |
          {{ myEvents.date | dateZone:'America/New_York':'HH:mm' }} NY |
          {{ myEvents.date | dateZone:'America/Santiago':'HH:mm' }} CL
          <!-- {{ myEvents.city }} -->
        </h5>
        <!-- <div class="diary-content__btns"
          *ngIf="(hour | amLocale:lang | amDifference: myEvents.date :'minute') <= time &&  (hour | amLocale:lang | amDifference: myEvents.date :'minute') >= 0">
          <button class="btn-details w-50" *ngIf="config_agenda" (click)="viewDetailEvent(myEvents.id)">
            {{ lang === 'es' ? config_agenda.btn_detail : config_agenda.btn_detail_en }}
          </button>
          <button class="btn-agree w-50" *ngIf="config_agenda" (click)="goToPage('event')">
            {{ lang === 'es' ? config_agenda.btn_access : config_agenda.btn_access_en }}
          </button>
        </div> -->
        <div class="diary-content__btns">
          <button class="btn-details w-100" *ngIf="config_agenda" (click)="viewDetailEvent(myEvents.id)">
            {{ lang === 'es' ? config_agenda.btn_detail : config_agenda.btn_detail_en }}
          </button>
        </div>
        <hr *ngIf="mySchedules.length !== (mySche+1)">
      </section>
    </div>
  </div>
  <!-- Final de mi agenda -->

</div>
