@import "variables";

@font-face {
  font-family: "Cabin";
  src: url("../../../../assets/fonts/TTJenevers/Cabin-Regular.ttf");
}

@font-face {
  font-family: "TTJenevers";
  src: url("../../../../assets/fonts/TTJenevers/TTJenevers-Regular.ttf");
}

h3 {
  font-family: TTJenevers;
  font-size: 18px;
  font-weight: 700;
}
p {
  font-family: Cabin;
}

button {
  font-family: Cabin !important;
  height: 40px;
  border-radius: 15px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.3px;
  margin-top: 5%;
  box-shadow: none;
  @media (max-width: 768px) {
    margin-top: 7%;
  }
  // text-transform: uppercase;
  // border-style: none;
}
.schedule {
  background: #f9f9f9;
  padding: 100px 30px 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (max-width: 978px) {
    padding-top: 10px;
  }
  @media (max-width: 768px) {
    padding: 0px;
  }
  .schedule__date {
    width: 70%;
    @media (max-width: 860px) {
      width: 100%;
      padding: 15px;
    }
  }
  .date-btns {
    display: flex;
    justify-content: space-between;
  }
  .separator {
    border: 2px solid #ea6752;
    background: #ea6752;
  }
  p {
    font-size: 12px;
  }

  .date-contain {
    background: #ffffff;
    border: 2px solid #f3f3f3;
    box-sizing: border-box;
    padding: 20px 30px;
    margin-bottom: 20px;
    border: none;
    @media (max-width: 768px) {
      margin-bottom: 0;
    }
    hr {
      border: 1.5px solid #becdcd;
      background: #becdcd;
      border-radius: 10px;
      margin-bottom: 20px;
    }
    section {
      margin-bottom: 15px;
    }
    & section > p {
      padding-left: 15px;
      position: relative;
      color: #54565b;
      margin-bottom: 5px;
      &::before {
        content: "";
        background: url("../../../../assets/img/icon_clock.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 10px;
        height: 10px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
  .date-contain__btns {
    display: flex;
    img {
      padding-left: 10px;
    }
    button {
      background: rgba(174, 209, 240, 0.5);
      border: 1px solid #4876ab;
      outline: none;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      border-radius: 15px;
    }
  }
  .date-contain__description {
    position: relative;

    h3 {
      font-family: Cabin;
      margin-bottom: 10px;
    }
    .description-expositor {
      & ul {
        display: flex;
        align-items: center;
        @media (max-width: 768px) {
          flex-direction: column;
          align-items: end;
        }
        li {
          display: flex;
          align-items: center;
        }
        &:nth-child(1) {
          padding-bottom: 15px;
          & li {
            &:nth-child(1) {
              color: #ea6752;
            }
          }
        }
        &:nth-child(2) {
          padding-bottom: 15px;
          & li {
            &:nth-child(1) {
              color: #54565a;
              p {
                padding-right: 10px;
              }
            }
          }
        }
      }
      p {
        font-size: 15px;
      }
      &__user {
        display: flex;
        padding: 0px 10px;
        cursor: pointer;
        p {
          color: #8f9c9d;
          padding-left: 7px;
        }
        .user-photo {
          width: 20px;
          height: 20px;
          background-size: cover;
          background-position: center;
          border-radius: 50%;
        }
      }
      .txtExpositor {
        width: 100px;
      }
    }
    .btn_schedule {
      position: absolute;
      bottom: 25px;
      right: 0;
      display: flex;
      @media (max-width: 768px) {
        position: relative;
      }
    }
  }

  .schedule__diary {
    width: 28%;
    font-family: Cabin;
    @media (max-width: 860px) {
      width: 100%;
      padding: 15px;
    }
    h2 {
      font-size: 26px;
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      img {
        width: 25px;
        margin-right: 10px;
      }
    }
    .inputs_group {
      position: relative;
      input {
        width: 100%;
        width: 100%;
        background: #becdcd42;
        border: none;
        outline: none;
        padding: 7px 35px;
        color: #8f9c9d;
        box-sizing: border-box;
      }
      &:before {
        content: "";
        position: absolute;
        left: 10px;
        top: 0;
        bottom: 0;
        width: 20px;
        height: 20px;
        background: url("../../../../assets/img/icon_search.svg");
        margin: auto;
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .diary-content {
      margin-top: 15px;
      hr {
        border: 1px solid #becdcd;
      }
      section {
        margin-bottom: 15px;
      }
      p {
        color: #ea6752;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          width: 8px;
          height: 8px;
          background: #ea6752;
          border-radius: 10px;
          animation-name: bounce;
          animation-duration: 0.6s;
          animation-iteration-count: infinite;
          animation-direction: alternate;
        }
      }
      h4 {
        font-size: 18px;
        padding: 5px 0px;
        &:nth-child(1) {
          margin-bottom: 15px;
        }
        &:nth-child(3) {
          margin: 5px 0px 8px;
        }
      }
      h5 {
        font-size: 14px;
        color: #8f9c9d;
        margin-bottom: 12px;
      }
      .diary-content__btns {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .btn-details {
          color: #2b2d31;
          background: #dee5e6;
          border: none;
          outline: none;
          padding: 6px 0px;
          font-size: 14px;
          &.w-50 {
            width: 49%;
          }
          &.w-100 {
            width: 100%;
          }
        }
        .btn-agree {
          color: #4876ab;
          background: rgba(174, 209, 240, 0.5);
          border: none;
          outline: none;
          padding: 6px 0px;
          font-size: 14px;
          &.w-50 {
            width: 49%;
          }
          &.w-100 {
            width: 100%;
          }
        }
      }
    }
  }
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  content: "";
  border: 1px solid #ced6d8;
  border-radius: 0.1em;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: bottom;
  color: transparent;
  transition: 0.2s;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #eceff2;
}

input[type="checkbox"] + label {
  display: block;
  cursor: pointer;
  padding-right: 60px;
  font-size: 15px;
  color: #2b2d31;
}

input[type="checkbox"] + label:active:before {
  transform: scale(0);
}

.checked + label:before {
  background-image: url("../../../../assets/img/icon_check.svg");
  background-color: #eceff2;
  border: 1px solid #ced6d8;
  color: #fff;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

input[type="checkbox"]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

.checked:disabled + label:before {
  transform: scale(1);
  background-color: #eceff2;
  border-color: #eceff2;
}

/* Animations*/
@keyframes bounce {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.2);
  }
}

.date-btns {
  .btn_primary {
    background: $red1;
  }
}

.btn_schedule {
  .btn_primary {
    background: $red1;
  }
  .btn_secondary {
    background: $gray1;
    color: $white;
  }
}

.schedule__date_no-user {
  width: 100% !important;
  margin: 0 5% !important;
  @media (max-width: 768px) {
    margin: 0px !important;
  }
}
::ng-deep{
  .owl-carousel{
    position: relative;

    .owl-nav{
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .owl-next,
      .owl-prev{
        border-radius: 50px !important;
      }
    }
  }
}