<div class="eventContent">

  <div class="boxDescription">

    <div *ngFor="let dt of data"  class="description">
      <h3>{{ lang === 'es' ? dt.title : dt.title_en }}</h3>
      <hr>
      <!-- <div [innerHtml]="credicorp?.description_aboutUs"></div> -->
      <p [innerHtml]=" lang === 'es' ? dt.description : dt.description_en "></p>
  
      <p class="more">
        <span (click)="goToPage(credicorp?.lblMore_Link_aboutUs)">{{credicorp?.lblMore_aboutUs}}</span>
      </p>
    </div>
 
    <div class="description">
      <h3 *ngIf="lang === 'es'">Conoce nuestros eventos pasados</h3>
      <h3 *ngIf="lang === 'en'">Past events</h3>
      <hr>

      <div class="boxVideo" *ngFor="let oldEvents of nuevoArray">
        <h2 style="text-transform: capitalize;">{{oldEvents.title}}</h2>

        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let slide of oldEvents.Sliders">
            <div class="slide">
              <img [src]="slide.image" alt="img 1">
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>

      <!--
      <div class="boxVideo">
        <h2>Investor Conference 2020</h2>
        <app-slider class="slider" *ngIf="event2020.length" [myInterval]="4000" [pause]="false" [images]="event2020"
          [autoplay]="true" [cellstoShow]='1' [height]="'100%'" [cellWidth]="'100%'" [dots]="false">
        </app-slider>
        <app-slider class="slider_movil" *ngIf="event2020.length" [myInterval]="4000" [pause]="'false'" [images]="event2020"
          [autoplay]="true" [cellstoShow]='1' [height]="'240'" [cellWidth]="'100%'" [dots]="false">
        </app-slider>
      </div>
      <div class="boxVideo">
        <h2>Investor Conference 2019</h2>
        <app-slider class="slider" *ngIf="event2019.length" [myInterval]="4000" [pause]="false" [images]="event2019"
          [autoplay]="true" [cellstoShow]='1' [height]="'100%'" [cellWidth]="'100%'" [dots]="false">
        </app-slider>
        <app-slider class="slider_movil" *ngIf="event2019.length" [myInterval]="4000" [pause]="'false'" [images]="event2019"
          [autoplay]="true" [cellstoShow]='1' [height]="'240'" [cellWidth]="'100%'" [dots]="false">
        </app-slider>
      </div>
      <div class="boxVideo">
        <h2>Investor Conference 2018</h2>
        <app-slider class="slider" *ngIf="event2018.length" [myInterval]="4000" [pause]="false" [images]="event2018"
          [autoplay]="true" [cellstoShow]='1' [height]="'100%'" [cellWidth]="'100%'" [dots]="false">
        </app-slider>
        <app-slider class="slider_movil" *ngIf="event2018.length" [myInterval]="4000" [pause]="'false'" [images]="event2018"
          [autoplay]="true" [cellstoShow]='1' [height]="'240'" [cellWidth]="'100%'" [dots]="false">
        </app-slider>
      </div>-->
    </div>
  </div>

  <div class="boxMore">
    <div class="boxDate">
      <div class="date">
        <!-- <p>Día</p> -->
        <h1>{{date_number}}</h1>
        &nbsp;&nbsp;&nbsp;
        <span>{{date_mouth}}</span>
      </div>
    </div>

    <h3 *ngIf="lang === 'es'">
      Saber más de
      <span>
        Investor Conference
      </span>
    </h3>
    <h3 *ngIf="lang !== 'es'">
      Learn more about
      <span>
        Investor Conference
      </span>
    </h3>
    

    <ng-container *ngFor="let ext of dataExternal">
      <div *ngIf="ext.display_type_id === 1">
        <button  class="btnMore" (click)="goToLink(ext.url)">
          {{ lang === 'es' ? ext.name : ext.name_en }}
          <img src="assets/icons/link.svg" alt="">
        </button>
      </div>

      <div class="boxVideo" *ngIf="ext.display_type_id === 2">
        <h2 *ngIf="lang === 'es'">{{ext.name}}</h2>
        <h2 *ngIf="lang !== 'es'">{{ext.name_en}}</h2>
        <div class="video">
          <iframe width="100%" height="100%" [src]="transform(ext.url)" title="YouTube video player"
          frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen style="background: rgba(43, 45, 49, 0.75);"></iframe>
        </div>
      </div>
    </ng-container>

  </div>

</div>